
ion-avatar {
    max-width: 21px;
    max-height: 21px;
    float: right;
}

.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}

ion-grid {
    background-color: white;
    padding: 0;
}

ion-grid.left {
    margin-right: 4px;
}

ion-grid.right {
    margin-left: 4px;
}

ion-grid.center {
    margin-left: 2px;
    margin-right: 2px;
}

