<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar backNavigationPath="secure/home/wish-list-overview"></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="owners"></app-owners-info>
    <div class="details">
      <h1 class="wish-list-name">{{ name }}</h1>
      <p class="wish-list-date">{{ date }}</p>
    </div>
  </section>

  <div class="divide"></div>

  <section class="ion-text-center page-actions">
    <a role="button" (click)="navigateToWishSearchPage()" [class.disabled]="!wishList">
      <ion-icon src="assets/icon/plus.svg" ></ion-icon>
    </a>
    <a role="button" (click)="navigateToWishListEditPage()" [class.disabled]="!wishList">
      <ion-icon src="assets/icon/pencil.svg"></ion-icon>
    </a>
    <a role="button" (click)="share()" [class.disabled]="!wishList">
      <ion-icon src="assets/icon/share.svg"></ion-icon>
    </a>
  </section>

  <div class="masonry" #masonry>
    <div class="brick" *ngFor="let wish of wishes; trackBy:trackByWishId" #bricks>
      <app-wish [wish]="wish"
                [showReservedWishes]="wishList.showReservedWishes"
                (selected)="navigateToWishDetailPage(wish)"></app-wish>
    </div>
  </div>

</ion-content>