.img-avatar {
    border-radius: 50%;
    width: 30pt;
}

section.page-actions {
    ion-icon {
        height: 26.56px;
        width: 27.84px;
        margin-right: 17.24px;
        margin-left: 17.24px;
    }
}