<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar backNavigationPath="secure/home/wish-list-overview"></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="wishList.owners"></app-owners-info>
    <div class="details">
      <h1 class="wish-list-name">{{ wishList.name }}</h1>
      <p class="wish-list-date">{{  wishList.date ? (wishList.date | date) : 'noch kein Datum festgelegt' }}</p>
    </div>
  </section>

  <div class="divide"></div>

  <section class="ion-text-center page-actions">
    <a routerLink="/secure/wish-search">
      <ion-icon src="assets/icon/plus.svg" ></ion-icon>
    </a>
    <a role="button" (click)="editWishList()">
      <ion-icon src="assets/icon/pencil.svg"></ion-icon>
    </a>
    <a role="button" (click)="shareWishList()">
      <ion-icon src="assets/icon/share.svg"></ion-icon>
    </a>
  </section>
  
  <ion-grid>
    <ion-row>
      <ion-col (click)="selectWish(wish)" size="6" *ngFor="let wish of wishList.wishes">
        <app-wish [wish]="wish" [showReservedWishes]="showReservedWishes"></app-wish>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>