<ion-header>
  <ion-toolbar class="wantic-toolbar">
    <ion-buttons slot="start">
      <ion-button size="large" class="wantic-logo" [routerLink]="['/home']">
        <img src="assets/icon/wantic-logo.svg">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/friends-wish-list-overview']">
        <img src="assets/icon/friends-wish-lists.svg">
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" src="assets/icon/search-icon.svg"></ion-icon>
      </ion-button>
      <ion-menu-button>
        <img src="assets/icon/burger-menu-active.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form [formGroup]="form" style="margin-left: 20px; margin-right: 20px;">

    <ion-item lines="none" id="profile-image-upload">

      <ion-label position="stacked">Profilbild</ion-label>
      <div class="container">
        <ion-avatar>
          <img [src]="profile.profileImageUrl | secure | async" *ngIf="!imageIsUploading && profile.profileImageUrl"/>
        </ion-avatar>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" src="assets/icon/pencil.svg"></ion-icon>
        </ion-button>
      </div>
      <ion-input type="file" accept="image/png, image/jpeg" (change)="uploadImage($event)"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Vorname</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Nachname</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Geburtsdatum</ion-label>
      <ion-datetime formControlName="birthday" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">E-Mail</ion-label>
      <ion-input type="email" formControlName="email" readonly></ion-input>
    </ion-item>

    <hr>

    <div formGroupName="passwordChange">
      <ion-item lines="none">
        <ion-label position="stacked">Aktuelles Passwort</ion-label>
        <ion-input type="password" formControlName="currentPassword" readonly></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">Neues Passwort</ion-label>
        <ion-input type="password" formControlName="newPassword" readonly></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">Neues Passwort bestätigen</ion-label>
        <ion-input type="password" formControlName="newPasswordConfirm" readonly></ion-input>
      </ion-item>
    </div>

  </form>

</ion-content>

<ion-footer>
  <ion-button (click)="saveChanges()" style="margin-left: 20px; margin-right: 20px;" color="primary" expand="block" [disabled]="!form.valid">
    ÄNDERUNGEN SPEICHERN
  </ion-button>
</ion-footer>