#profile-image-upload {
    div.container {
        position: relative;
        display: inline-block;
        ion-avatar {
            margin-bottom: 12px;
            margin-top: 12px;
            border: 3pt solid var(--ion-color-secondary);
            display: inline-block;
            min-height: 108px;
            min-width: 108px;
        }
        button {
            bottom: 15px;
        }
    }
}