ion-tabs {
    ion-tab-bar {
        ion-tab-button {
            --color: var(--ion-color-secondary);
            --color-selected: var(--ion-color-primary);
            ion-icon.icon-home {
                width: 37.95pt;
                height: 24.71pt;
            }
            ion-icon.icon-friends {
                width: 50.65pt;
                height: 24.71pt;
            }
            ion-icon.icon-add {
                stroke: var(--ion-color-secondary);
                width: 28.71pt;
                height: 24.71pt;
            }
            ion-icon.icon-burger-menu {
                width: 27.78pt;
                height: 24.71pt;
            }
        }
        ion-tab-button.tab-selected {
            border-top: 2px solid;
            padding-bottom: 2px;
            ion-icon.icon-add {
                stroke: var(--ion-color-primary);
            }
        }
    }
}
