<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/tab-home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="friends-wish-list-overview">
      <ion-icon src="assets/icon/tab-friends-wish-lists.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wish-search">
      <ion-icon src="assets/icon/tab-search.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon src="assets/icon/tab-burger-menu.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>