ion-tabs {
    ion-tab-bar {
        ion-tab-button {
            --color: var(--ion-color-secondary);
            --color-selected: var(--ion-color-primary);
            ion-icon {
                height: 70%;
                width: 70%;
            }
        }
    }
}