ion-tabs {
    ion-tab-bar {
        ion-tab-button {
            --color: var(--ion-color-secondary);
            --color-selected: var(--ion-color-primary);
            ion-icon {
                font-size: 60px;
            }
            ion-icon.icon-add {
                stroke: var(--ion-color-secondary);
            }
        }
        ion-tab-button.tab-selected {
            border-top: 2px solid;
            padding-bottom: 2px;
            ion-icon.icon-add {
                stroke: var(--ion-color-primary);
            }
        }
    }
}
