<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" (click)="onTabButtonClicked()">
      <ion-icon class="icon-home" src="assets/icon/tab-home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wish-search" (click)="onTabButtonClicked()">
      <ion-icon class="icon-add" src="assets/icon/tab-add.svg" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="friends-home" (click)="onTabButtonClicked()">
      <ion-icon class="icon-friends" src="assets/icon/tab-friends-wish-lists.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu" (click)="onTabButtonClicked()">
      <ion-icon class="icon-burger-menu" src="assets/icon/tab-burger-menu.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>