<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/wantic-logo.svg" alt="Wantic Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header"><strong>Passwort <br> zurücksetzen</strong></h1>
  <p class="subtext ion-text-center" *ngIf="!passwordResetRequestSuccessful">
    Bitte gib die mit deinem Benutzerkonto verknüpfte 
    E-Mail-Adresse ein, um weitere Informationen zum 
    Zurücksetzen deines Passworts zu erhalten.
  </p>
  <p class="subtext ion-text-center" *ngIf="passwordResetRequestSuccessful">
    Vielen Dank. Wir haben dir soeben eine E-Mail 
    gesendet. Darin findest du alle weiteren Informationen darüber,
    wie du dein Passwort zurücksetzen kannst.
  </p>

  <form [formGroup]="form" *ngIf="form && !passwordResetRequestSuccessful">
    <ion-item lines="none">
      <ion-input formControlName="email" type="email" placeholder="E-Mail-Adresse"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('email')" [validationMessages]="validationMessages.email"></app-validation-messages>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button *ngIf="form" class="wantic-save-button" expand="block" (click)="resetPassword()" [disabled]="!form.valid">
    Passwort zurücksetzen
  </ion-button>
</ion-footer>