<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar [showBackButton]="false"></app-nav-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Meine Listen</h1>
  </ion-text>

  <div class="ion-text-center">
    <ion-button fill="clear" class="font-size-14" (click)="share()">
      <ion-icon src="assets/icon/share.svg"></ion-icon>&nbsp;
      Mein Profil teilen
    </ion-button>
  </div>

  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col size="6" size-lg="2" class="button-container">
        <ion-grid class="padding-0">
          <ion-row>
            <ion-col class="add-list-item-button" routerLink="/secure/product-search" size="12" >
              <app-dashboard-button>
                Produkt <br>
                hinzufügen
              </app-dashboard-button>
            </ion-col>
            <ion-col class="add-list-button" routerLink="/secure/product-lists/product-list-new" size="12" >
              <app-dashboard-button>
                Liste <br>
                hinzufügen
              </app-dashboard-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col [ngClass]="getClass(i)" class="product-list" size="6" size-lg="2" *ngFor="let list of productLists; let i = index;">
        <app-list [list]="list" [index]="i" (listSelected)="selectProductList(list)"></app-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
