<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar backNavigationPath="secure/friends-home/friends-wish-list-overview"></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="owners"></app-owners-info>
    <div class="details">
      <p class="wish-list-owner-names">{{ owners | ownerNames }}</p>
      <p class="wish-list-name">{{ name }}</p>
      <p class="wish-list-date">{{ date }}</p>
    </div>
    <ion-button class="wantic-save-button leave-wish-list" fill="outline" color="light" (click)="showDeleteAlert()" id="leave-wish-list-button">WUNSCHLISTE VERLASSEN</ion-button>
  </section>

  <div class="divide"></div>

   <div class="masonry" #masonry>
    <div class="brick" *ngFor="let wish of wishes; trackBy:trackByWishId" #bricks>
      <app-friends-wish [wish]="wish" (wishPurchase)="updateWish($event)"></app-friends-wish>
    </div>
  </div>
 </ion-content>
