<div>
  <div class="ion-text-right">
    <ion-button (click)="closeModal()" class="ion-text-right no-margin" fill="clear">
      <ion-icon slot="icon-only" name="close-outline" color="dark"></ion-icon>
    </ion-button>
  </div>
  
  <div *ngIf="!reservationCanceled" class="ion-text-center">
    <p>Du hast dich umentschieden und möchtest {{ wishList.owners | ownerNames:'und' }} lieber etwas anderes schenken?</p>
    <ion-button class="wantic-save-button" type="submit" expand="block" (click)="cancelWishReservation()">Nicht mehr schenken</ion-button>
  </div>
  
  <div *ngIf="reservationCanceled" class="ion-text-center">
    <p>Wir haben deine Resvervierung gelöscht.</p>
    <ion-button class="wantic-save-button" type="submit" expand="block" (click)="closeModal()">Fenster schließen</ion-button>
  </div>
</div>
