<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" scroll-y="false" class="ion-no-border">  
  <div *ngIf="!reservationCanceled" class="ion-text-center">
    <p>Du hast dich umentschieden und möchtest {{ wishList.owners | ownerNames:'und' }} lieber etwas anderes schenken?</p>
  </div>
  
  <div *ngIf="reservationCanceled" class="ion-text-center">
    <p>Wir haben deine Reservierung gelöscht.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-button *ngIf="!reservationCanceled" class="wantic-save-button" type="submit" expand="block" (click)="cancelWishReservation()">Nicht mehr schenken</ion-button>
  <ion-button *ngIf="reservationCanceled" class="wantic-save-button" type="submit" expand="block" (click)="closeModal()">Fenster schließen</ion-button>
</ion-footer>