.friend-name {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--ion-color-dark);
    margin-top: 10px;
}

.centered-user-initials {
    display: flex;
    align-items: center;
    app-user-initials {
        margin: auto;
    }
}

.friend-avatar-container {
    background: linear-gradient(to bottom, #f7f6f1 50%, white 50%);
    height: 15%;
    ion-avatar {
        border: 3px solid white;
    }
    ion-avatar.auto-margin {
        margin: auto
    }
    ion-avatar.float-right {
        float: right;
    }
}

.wish-list-name {
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.wish-list-description {
    border-top: 1px dashed #F0EDE3;
    padding-left: 11px;
    background: white;
    > div {
        margin-bottom: 2px;
    }
    .wish-list-date {
        margin-bottom: 8px;
    }
}

img {
    max-height: 100px;
}

ion-img {
    max-height: 100px;
    img {
        max-height: 100px;
    }
}