<ion-grid class="friend-avatar-container">

  <!--0-->
  <ion-avatar *ngIf="!ownerProfileImageInfos || !ownerProfileImageInfos.length" class="auto-margin">
    <img src="assets/images/avatar-placeholder-small.svg"/>
  </ion-avatar>

  <!--1-->
  <ion-avatar *ngIf="ownerProfileImageInfos && ownerProfileImageInfos.length == 1" class="auto-margin">
    <img *ngIf="ownerProfileImageInfos[0]" [src]="ownerProfileImageInfos[0] | cacheImage | async"/>
  </ion-avatar>

  <!--2-->
  <ion-row *ngIf="ownerProfileImageInfos && ownerProfileImageInfos.length && ownerProfileImageInfos.length == 2">
    <ion-col size="6">
      <ion-avatar class="float-right">
        <img *ngIf="ownerProfileImageInfos[0]" [src]="ownerProfileImageInfos[0] | cacheImage | async"/>
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <ion-avatar>
        <img *ngIf="ownerProfileImageInfos[1]" [src]="ownerProfileImageInfos[1] | cacheImage | async"/>
      </ion-avatar>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid>
  <ion-row class="wish-images-container-top">
    <ion-col size="6" class="wish-image-container wish-one">
      <img *ngIf="wishList.wishes.length > 0 && wishList.wishes[0].imageUrl" [src]="wishList.wishes[0].imageUrl" alt="Wunsch eins">
    </ion-col>
    <ion-col size="6" class="wish-image-container">
      <img *ngIf="wishList.wishes.length > 1 && wishList.wishes[1].imageUrl" [src]="wishList.wishes[1].imageUrl" alt="Wunsch zwei">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="wish-image-container wish-three">
      <img *ngIf="wishList.wishes.length > 2 && wishList.wishes[2].imageUrl" [src]="wishList.wishes[2].imageUrl" alt="Wunsch drei">
    </ion-col>
    <ion-col size="6" class="wish-image-container">
      <img *ngIf="wishList.wishes.length > 3 && wishList.wishes[3].imageUrl" [src]="wishList.wishes[3].imageUrl" alt="Wunsch vier">
    </ion-col>
  </ion-row>
</ion-grid>

<div class="wish-list-description">
  <div class="friend-name">{{ wishList.owners | ownerNames }}</div>
  <div class="wish-list-name">{{ wishList.name }}</div>
  <div class="wish-list-date">{{ wishList.date | date }}</div>
</div>
