.friend-name {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-color-dark);
}

.friend-avatar-container {
    background: linear-gradient(to bottom, #f7f6f1 50%, white 50%);
    height: 15%;
    ion-avatar {
        border: 3px solid white;
    }
    ion-avatar.auto-margin {
        margin: auto
    }
    ion-avatar.float-right {
        float: right;
    }
}

.wish-list-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--ion-color-primary);
}

.wish-list-description {
    border-top: 1px dashed #F0EDE3;
    padding-left: 11px;
}

img {
    max-height: 100px;
}

ion-img {
    max-height: 100px;
    img {
        max-height: 100px;
    }
}