<ion-grid class="friend-avatar-container">

  <div  *ngIf="wishList.owners?.length == 1 && !wishList.owners[0].profileImageInfo" class="centered-user-initials">
    <app-user-initials [firstName]="wishList.owners[0].firstName" [lastName]="wishList.owners[0].lastName"></app-user-initials>
  </div>


  <!--2-->
  <ion-row *ngIf="wishList.owners?.length == 2">
    <ion-col size="6">
      <ion-avatar class="float-right">
        <app-user-initials *ngIf="!wishList.owners[0].profileImageInfo"
          [firstName]="wishList.owners[0].firstName" 
          [lastName]="wishList.owners[0].lastName">
        </app-user-initials>
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <ion-avatar>
        <app-user-initials *ngIf="!wishList.owners[1].profileImageInfo"
          [firstName]="wishList.owners[1].firstName" 
          [lastName]="wishList.owners[1].lastName">
        </app-user-initials>
      </ion-avatar>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid>
  <ion-row class="wish-images-container-top">
    <ion-col size="6" class="wish-image-container wish-one">
      <img *ngIf="wishList.wishes.length > 0 && wishList.wishes[0].imageUrl" [src]="wishList.wishes[0].imageUrl" alt="Wunsch eins">
    </ion-col>
    <ion-col size="6" class="wish-image-container">
      <img *ngIf="wishList.wishes.length > 1 && wishList.wishes[1].imageUrl" [src]="wishList.wishes[1].imageUrl" alt="Wunsch zwei">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="wish-image-container wish-three">
      <img *ngIf="wishList.wishes.length > 2 && wishList.wishes[2].imageUrl" [src]="wishList.wishes[2].imageUrl" alt="Wunsch drei">
    </ion-col>
    <ion-col size="6" class="wish-image-container">
      <img *ngIf="wishList.wishes.length > 3 && wishList.wishes[3].imageUrl" [src]="wishList.wishes[3].imageUrl" alt="Wunsch vier">
    </ion-col>
  </ion-row>
</ion-grid>

<div class="wish-list-description">
  <div class="friend-name">{{ wishList.owners | ownerNames }}</div>
  <div class="wish-list-name">{{ wishList.name }}</div>
  <div class="wish-list-date">{{ wishList.date ? (wishList.date | date ) : 'noch kein Datum festgelegt'  }}</div>
</div>
