<ion-card [ngClass]="{ 'wish-reserved': showReservedState }">
  <div class="image-container">
    <app-image *ngIf="wish.imageUrl" [src]="wish.imageUrl" alt="Vorschaubild des Wunsches {{ wish.name }}"></app-image>
    <img class="placeholder" *ngIf="!wish.imageUrl" src="assets/images/wish-list-placeholder.svg" alt="Platzhalterbild" />
  </div>
  <ion-card-content>
    <div class="wish-name truncate-name">{{ wish.name }}</div>
    <div class="wish-price">{{ wish.price.displayString }}</div>
  </ion-card-content>
</ion-card>
<div *ngIf="showReservedState" class="wish-reserved-image-container">
  <img src="assets/icon/wish-reserved.svg" alt="Graue, ovale Form auf dem 'Leider schon vergriffen' zu lesen ist."/>
</div>