.wish-description {
    border-top: 1px dashed #f7f6f1;
}

ion-card {
    div.image-container {
        min-height: 140px;
        img {
            margin: auto;
            padding-top: 16px;
        }
        img.placeholder {
            width: 90%;
        }
    }
    background-color: white;
    margin: 0;
    height: 100%;
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
        .wish-name {
            overflow: hidden;
            height: 40px;
        }
    }
}
