.wish-description {
    border-top: 1px dashed #f7f6f1;
}

.wish-note {
    font: normal normal normal 13px/16px Roboto;
}

ion-card {
    background-color: white;
    margin: 0;
    height: 100%;
    border-radius: 10px;
    div.image-container {
        min-height: 140px;
        img {
            margin: auto;
            padding-top: 16px;
        }
        img.placeholder {
            width: 90%;
        }
    }
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
    }
}
