ion-list {
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    margin-top: 30px;
    ion-list-header {
        ion-text {
            size: 14px;
            font-weight: 500;
            font-style: normal;
        }
    }
    ion-item {
        --border-style: dashed;
        --border-color: var(--ion-color-primary);
        ion-label {
            h2 {
                size: 14px;
                font-weight: 500;
                font-style: normal;
            }
            h3 {
                size: 14px;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
}