<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar defaultHref="/secure/menu"></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 

  <h1 class="ion-text-center wantic-page-header">{{ title }}</h1>

  <ion-list *ngIf="isCreatorAccountActive && profile.creatorAccount">

    <ion-item routerLink="/secure/menu/settings/creator-name-update" [state]="dataForChildRoutes" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label>
        <h2>Name</h2>
        <h3>{{ profile.creatorAccount.name }}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="!isCreatorAccountActive">

    <ion-item routerLink="/secure/menu/settings/profile-settings-firstname" [state]="dataForChildRoutes" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label>
        <h2>Vorname</h2>
        <h3 *ngIf="profile.firstName">{{ profile.firstName }}</h3>
        <h3 *ngIf="!profile.firstName"><em>noch nicht eingetragen</em></h3>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/secure/menu/settings/last-name-update" [state]="dataForChildRoutes" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label>
        <h2>Nachname</h2>
        <h3 *ngIf="profile.lastName">{{ profile.lastName }}</h3>
        <h3 *ngIf="!profile.lastName"><em>noch nicht eingetragen</em></h3>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/secure/menu/settings/birthday-update" [state]="dataForChildRoutes" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label>
        <h2>Geburtsdatum</h2>
        <h3 *ngIf="profile.birthday">{{ profile.birthday | date:'dd.MM.yyyy' }}</h3>
        <h3 *ngIf="!profile.birthday"><em>noch nicht eingetragen</em></h3>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/secure/menu/settings/email-update" [state]="dataForChildRoutes" detail="false" [class.disabled]="userCanChangeEmail === false ? true : null">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right" *ngIf="userCanChangeEmail"></ion-icon>
      <ion-label>
        <h2>E-Mail Adresse</h2>
        <h3>{{ profile.email.value }}</h3>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/secure/menu/settings/password-update" detail="false" *ngIf="showPasswordChangeLink">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">
        Passwort ändern
      </ion-label>
    </ion-item>

    <ion-item routerLink="/secure/menu/settings/account-delete" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">
        Account löschen
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>