ion-card {
    margin: 0;
    background: white;
    div.image-container {
        height: 165px;
        max-height: 165px;
        text-align: center;
        app-wish-image {
            max-height: inherit;
        }
    }
}

ion-button {
    font-size: 10px;
    font-weight: bold;
    height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    --border-radius: 9pt;
    --border-width: 2px;
    --color: var(--ion-color-tertiary);
}