<ion-header>
  <ion-toolbar class="wantic-toolbar">
    <ion-buttons slot="start">
      <ion-button size="large" class="wantic-logo"  [routerLink]="['/home']">
        <img src="assets/icon/wantic_logo.svg">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/icon/friends-wish-lists-icon.svg">
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" src="assets/icon/search-icon.svg"></ion-icon>
      </ion-button>
      <ion-menu-button>
        <img src="assets/icon/burger_menu_item.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="ion-text-center wantic-page-header">Was wünschst du dir?</h1>
  </ion-text>

  <ion-item lines="none">
    <ion-searchbar [(ngModel)]="keywords" placeholder="toaster"></ion-searchbar>
  </ion-item>

  <ion-grid class="ion-center" *ngIf="!loading && products.length > 0">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let product of products; let i = index" class="search-result">
              <app-search-result [wish]="product" (onSelectWish)="updateValue($event)"></app-search-result>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-center" *ngIf="loading">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6"> <ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col size="6"> <ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col size="6"> <ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col size="6"> <ion-skeleton-text animated></ion-skeleton-text></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border *ngIf="devMode">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" (click)="search()">Suchen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>