.search-result {
    background-color: white;
}

ion-searchbar {
    border: 2pt solid var(--ion-color-secondary);
    border-radius: 9pt;
    height: 48px;
    --background: #f7f6f1;
    --color: var(--ion-color-primary);
    --box-shadow: none;
}

.wantic-save-button {
    margin-right: 16pt;
    margin-left: 16pt;
}