<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>W</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
          <app-introduction *ngIf="activeStep.id == 'introduction'"></app-introduction>
          <app-wish-list-name formControlName="name" *ngIf="activeStep.id == 'wishListName'"></app-wish-list-name>
          <app-wish-list-date formControlName="date" *ngIf="activeStep.id == 'wishListDate'"></app-wish-list-date>
          <app-wish-list-partner formControlName="partner" *ngIf="activeStep.id == 'wishListPartner'"></app-wish-list-partner>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" (click)="nextStep()" [disabled]="buttonDisabled">Weiter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>