<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>W</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-center">
      <ion-row class="ion-justify-content-center">
          <ion-col size-lg="6">
            <ion-router-outlet ></ion-router-outlet>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
      <ion-row class="ion-justify-content-center">
          <ion-col size-lg="6">
              <ion-button expand="block" (click)="nextStep()" [disabled]="!valid">Weiter</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>

<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>W</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <router-outlet ></router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" (click)="nextStep()" [disabled]="!valid">Weiter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>-->

<!--
<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" routerLink="wish-list-name">Weiter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>-->

<!--
<ion-content>
  <ion-grid class="ion-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
          <router-outlet></router-outlet>
          <app-introduction *ngIf="activeStep.id == 'introduction'"></app-introduction>
          <app-wish-list-name formControlName="name" *ngIf="activeStep.id == 'wishListName'"></app-wish-list-name>
          <app-wish-list-date formControlName="date" *ngIf="activeStep.id == 'wishListDate'"></app-wish-list-date>
          <app-wish-list-partner formControlName="partner" *ngIf="activeStep.id == 'wishListPartner'"></app-wish-list-partner>
          <app-wish-list-wish (onKeyWordChange)="getUpdatedSearchKeyword($event)"  *ngIf="activeStep.id == 'wishListWish'"></app-wish-list-wish>
          <app-search-results formControlName="wishes" [wishes]="searchResult" *ngIf="activeStep.id == 'searchResults'"></app-search-results>
          <div formGroupName="accountInfos">
            <app-account-first-name formControlName="firstName" *ngIf="activeStep.id == 'firstName'"></app-account-first-name>
            <app-account-email-password formControlName="credentials" *ngIf="activeStep.id == 'emailPassword'"></app-account-email-password>
          </div>
          <app-registration-completed *ngIf="activeStep.id == 'registrationCompleted'"></app-registration-completed>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" (click)="nextStep()" [disabled]="buttonDisabled">Weiter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
-->