<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar logo="assets/icon/wantic-logo-purple.svg"></app-nav-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Produkt hinzufügen</h1>
  </ion-text>

  <form [formGroup]="urlForm" (ngSubmit)="searchByUrl()">
    <p class="wantic-margin-right-left">
      <ion-icon src="assets/icon/icon-link-1.svg"></ion-icon>&nbsp;URL des Produkts einfügen
    </p>
    <ion-item lines="none">
      <ion-input class="form-field-creator" type="url" enterkeyhint="search" placeholder="z.B. www.meinlieblingsshop.de/…" formControlName="url" clearInput="true" inputmode="url" legacy="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="urlForm.get('url')" [validationMessages]="validationMessages.url"></app-validation-messages>
  </form>

  <hr />

  <form [formGroup]="form" (ngSubmit)="searchByAmazonApi()">
    <p class="wantic-margin-right-left">
      <ion-icon name="logo-amazon"></ion-icon>&nbsp;auf Amazon suchen
    </p>
    <ion-item lines="none">
      <ion-input class="form-field-creator" type="text" enterkeyhint="search" placeholder="Amazon Suche" formControlName="keywords" autocapitalize="on" clearInput="true" inputmode="search" legacy="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('keywords')" [validationMessages]="validationMessages.keywords"></app-validation-messages>
  </form>

  <ng-container  *ngIf="isIOS || isAndroid">
    <hr />

    <div class="wantic-margin-right-left">
      <p>
        <ion-icon *ngIf="isIOS" name="share-outline"></ion-icon>
        <ion-icon *ngIf="isAndroid" src="assets/icon/share-android.svg"></ion-icon>
        &nbsp;Füge Produkte direkt aus deinem Browser von allen Webseiten hinzu.
      </p>
      <div class="ion-text-center">
        <img *ngIf="isAndroid" src="assets/images/add-wish-share-ext-android.png" alt=""/>
        <img *ngIf="isIOS" src="assets/images/add-wish-share-ext-ios.png" alt="" />
      </div>
    </div>
  </ng-container>

</ion-content>
