<ion-grid class="friend-avatar-container">

  <!--0-->
  <ion-avatar *ngIf="!ownerProfileImageUrls" class="auto-margin">
    <img src="assets/images/avatar-placeholder.jpg"/>
  </ion-avatar>

  <!--1-->
  <ion-avatar *ngIf="ownerProfileImageUrls && ownerProfileImageUrls.length == 1" class="auto-margin">
    <img *ngIf="ownerProfileImageUrls[0]" [src]="ownerProfileImageUrls[0] | secure | async"/>
  </ion-avatar>

  <!--2-->
  <ion-row *ngIf="ownerProfileImageUrls && ownerProfileImageUrls.length && ownerProfileImageUrls.length == 2">
    <ion-col size="6">
      <ion-avatar class="float-right">
        <img *ngIf="ownerProfileImageUrls[0]" [src]="ownerProfileImageUrls[0] | secure | async"/>
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <ion-avatar>
        <img *ngIf="ownerProfileImageUrls[1]" [src]="ownerProfileImageUrls[1] | secure | async"/>
      </ion-avatar>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid class="wish-list-container">
  <ion-row>
    <ion-col size="6">
      <img *ngIf="wishList.wishes.length > 0 && wishList.wishes[0].imageUrl" [src]="wishList.wishes[0].imageUrl">
      <img *ngIf="!wishList.wishes.length || !wishList.wishes[0].imageUrl" src="assets/images/wish-list-placeholder.svg">
    </ion-col>
    <ion-col size="6">
      <img *ngIf="wishList.wishes.length > 1 && wishList.wishes[1].imageUrl" [src]="wishList.wishes[1].imageUrl">
      <img *ngIf="wishList.wishes.length < 2 || !wishList.wishes[1].imageUrl" src="assets/images/wish-list-placeholder.svg">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img *ngIf="wishList.wishes.length > 2 && wishList.wishes[2].imageUrl" [src]="wishList.wishes[2].imageUrl">
      <img *ngIf="wishList.wishes.length < 3 || !wishList.wishes[2].imageUrl" src="assets/images/wish-list-placeholder.svg">
    </ion-col>
    <ion-col size="6">
      <img *ngIf="wishList.wishes.length > 3 && wishList.wishes[3].imageUrl" [src]="wishList.wishes[3].imageUrl">
      <img *ngIf="wishList.wishes.length < 4 || !wishList.wishes[3].imageUrl" src="assets/images/wish-list-placeholder.svg">
    </ion-col>
  </ion-row>
</ion-grid>

<div class="wish-list-description">
  <div class="friend-name">{{ wishList.owners | ownerNames }}</div>
  <div class="wish-list-name">{{ wishList.name }}</div>
  <div class="wish-list-date">{{ wishList.date | date }}</div>
</div>
