.friend-name {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-color-dark);
}

.friend-avatar-container {
    background: linear-gradient(to bottom, #f7f6f1 50%, white 50%);
    height: 15%;
    ion-avatar.auto-margin {
        margin: auto
    }
    ion-avatar.float-right {
        float: right;
    }
}

.wish-list-container {
    background-color: white;
    height: 200px;
    img {
        max-height: 100px;
    }
}

.wish-list-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--ion-color-primary);
}

.wish-list-date {
    font-size: 14px;
    font-weight: 400;
    color: var(--ion-color-secondary);
}

.wish-list-description {
    border-top: 2pt dashed #F0EDE3;
    background: white;
    padding: 5px;
}

img {
    max-height: 100px;
}

ion-img {
    max-height: 100px;
    img {
        max-height: 100px;
    }
}