<div class="wantic-radio-group-container wantic-margin-right-left">
  <div class="inputGroup"  *ngFor="let option of wishListSelectOptions;">
    <input [id]="option.id" type="radio" [value]="option.id" [(ngModel)]="wishListId" />
    <label [for]="option.id">{{ option.name }}</label>
  </div>
  <div class="container-add-new-wish-list" (click)="toggleShowAddNewWishListInput()">
    <img *ngIf="!showAddNewWishListInput" src="./assets/icon/wantic-add.svg" alt="Hinzufügen Icon" />
    <label *ngIf="!showAddNewWishListInput">Neue Wunschliste anlegen</label>
    <form (ngSubmit)="createNewWishList()">
      <ion-input *ngIf="showAddNewWishListInput" [(ngModel)]="newWishListName" [ngModelOptions]="{standalone: true}"
        clearInput="true" placeholder="z.B. Geburtstag" class="input-add-new-wish-list"></ion-input>
    </form>
  </div>
</div>