ion-list {
  ion-item {
    --background: white;
    margin-bottom: 0;
    font-size: 14px;
    --inner-padding-start: 20px;
    --inner-padding-end: 20px;
    ion-avatar {
      height: 24px;
      width: 24px;
    }
  }
  ion-item.first-item {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  ion-item.last-item {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
