<ion-card [ngClass]="{ 'wish-reserved': wish.reservedByFriend, 'wish-bought': wish.bought }" class="wish-border">
  <div class="image-container" (click)="openProductURL()">
    <app-image [src]="wish.imageUrl" [alt]="wish.name"></app-image>
  </div>
  <ion-card-content>
    <div class="wish-name">{{ wish.name | truncateName }}</div>
    <div class="wish-price">{{ wish.price.displayString }}</div>
    <ion-button class="give-button" *ngIf="!wish.bought && !wish.reservedByFriend" expand="block" fill="outline"
      color="tertiary" (click)="reserve()">
      SCHENKEN
    </ion-button>
    <ion-button class="give-button" *ngIf="wish.bought && !wish.reservedByFriend" expand="block" color="tertiary"
      (click)="reserve()">
      NICHT MEHR <br> SCHENKEN
    </ion-button>
    <ion-button class="give-button" *ngIf="isDebugInfoVisible" expand="block" color="dark" (click)="showDebugInfo()">
      <ion-icon name="construct-outline"></ion-icon>&nbsp;DEBUG INFO
    </ion-button>
  </ion-card-content>
</ion-card>
<div *ngIf="wish.reservedByFriend" class="wish-reserved-image-container">
  <img src="assets/icon/wish-reserved.svg" alt="Icon auf dem ein Geschenk zu sehen ist." />
</div>