<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar skipToPath="registration/wish-list-wish"></app-nav-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center registration-step-counter">2 / 3</div>
  <h1 class="registration ion-text-center">Gib ein <br> Datum an</h1>
  <p class="subtext ion-text-center">
    Ist die Wunschliste an ein bestimmtes Datum <br>
    gebunden (z.B.: Hochzeit, Geburtstag, <br>
    Weihnachten, ...) ?
  </p>
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="next()">
    <ion-item lines="none">
      <ion-datetime doneText="Fertig" cancelText="Abbrechen" [min]="minDate" [max]="maxDate" formControlName="date" displayFormat="DD.MM.YYYY" placeholder="z.B. 20.07.2021"></ion-datetime>
      <ion-icon name="calendar" slot="end" color="secondary" class="calendar-icon"></ion-icon>
    </ion-item>
    <app-validation-messages [control]="form.get('date')" [validationMessages]="validationMessages.date"></app-validation-messages>
    <ion-button type="submit" class="wantic-save-button" expand="block" [disabled]="!form.valid">Weiter</ion-button>
  </form>
</ion-content>
