ion-datetime {
    border: none;
}

form {
    ion-item {
        border-radius: 50pt;
        --background: white !important;
    }
    ion-item.ion-invalid.ion-touched, ion-item.ion-invalid.ion-dirty {
        border: 2px solid var(--ion-color-primary);
    }
}