<ion-content>
  <ion-item lines="none" id="wish-list-edit-header">
    <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
      <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
    </ion-button>
    <ion-text>
      <h1 class="ion-text-center wantic-page-header">Wunschliste bearbeiten</h1>
    </ion-text>
  </ion-item>

  <form [formGroup]="form" style="margin-left: 20px; margin-right: 20px;">
    <ion-item lines="none">
      <ion-label position="stacked">Name der Wunschliste</ion-label>
      <ion-input type="text" placeholder="z.B. Geburtstag" formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Datum</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Partner</ion-label>
      <ion-input type="email" formControlName="partner" readonly></ion-input>
    </ion-item>
  </form>

  <form [formGroup]="newPartnerForm" *ngIf="!form.controls.partner.value" style="margin-left: 20px; margin-right: 20px;">
    <ion-item lines="none">
      <ion-label>Partner hinzufügen</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Name eingeben</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Name eingeben"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">E-Mail Adresse angeben</ion-label>
      <ion-input type="email" placeholder="E-Mail Adresse eingeben" formControlName="email"></ion-input>
    </ion-item>
  </form>

  <ion-item lines="none" style="margin-left: 20px; margin-right: 20px;">
    <ion-label>Geteilt mit</ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="showNoMembersHint" style="margin-left: 20px; margin-right: 20px;">
    <ion-text>Bisher hast du noch niemanden dazu eingeladen deiner Wunschliste beizutreten.</ion-text>
  </ion-item>

  <ion-list style="margin-left: 20px; margin-right: 20px;">
    <ion-item lines="none" *ngFor="let displayInfo of invitedMembers">
      <ion-avatar slot="start">
        <img *ngIf="!displayInfo.imageUrl" src="assets/images/avatar-placeholder.jpg">
      </ion-avatar>
      <ion-label>
        {{ displayInfo.text }}
        <p *ngIf="displayInfo.subText">{{ displayInfo.subText }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="removeMember(displayInfo)">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="memberIsLoading" lines="none">
      <ion-label>Lädt ...</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <form [formGroup]="newMemberForm" style="margin-left: 20px; margin-right: 20px;">

    <ion-item lines="none">
      <ion-label>Einladen</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-text color="tertiary" *ngIf="!memberNotFound">Gib die E-Mail Adresse ein und die gewünschte Person wird per Mail von dir zur Wunschliste eingeladen.</ion-text>
      <ion-text color="tertiary" *ngIf="memberNotFound">Die angegbene Person ist leider noch nicht bei Wantic. Gib deshalb zusätzlich einen Namen ein, um diese später identifizieren zu können.</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-input formControlName="email" type="email" placeholder="E-Mail Adresse eingeben"></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="memberNotFound">
      <ion-input formControlName="name" type="text" placeholder="Name eingeben"></ion-input>
    </ion-item>
  
    <ion-button fill="clear" (click)="addMember()" [disabled]="!newMemberForm.valid">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-text color="primary">Weitere Personen einladen</ion-text>
    </ion-button>
  </form>

 

  <ion-button (click)="updateWishList()" style="margin-left: 20px; margin-right: 20px;" color="primary" expand="block" [disabled]="!form.valid">
    ÄNDERUNGEN SPEICHERN
  </ion-button>
  <ion-button (click)="deleteWishList()" style="margin-left: 20px; margin-right: 20px; margin-top: 10px;" color="primary" fill="outline" expand="block">
    WUNSCHLISTE LÖSCHEN
  </ion-button>

</ion-content>