#wish-name {
    font-family: 'Roboto';
    font-size: 14pt;
    color: var(--ion-color-dark);
}

#wish-date {
    font-family: 'Roboto';
    font-size: 14pt;
    color: var(--ion-color-primary);
}

.wish-description {
    border-top: 1px dashed #f7f6f1;
}

.give-button {
    font-size: 10pt;
}

ion-img {
    width: 50%;
    margin: auto;
}