ion-list {
    ion-item {
      --background: white;
      margin-bottom: 0;
      font-size: 14px;
      --inner-padding-start: 20px;
      --inner-padding-end: 20px;
      --border-style: dashed;
      --border-color: #f1eee4;
      ion-avatar {
        height: 24px;
        width: 24px;
      }
    }
    ion-item.first-item {
      --border-radius: 25px 25px 0 0
    }
    ion-item.last-item {
      --border-style: none;
      --border-radius: 0 0 25px 25px
    }
  }
  
  div.no-product-lists-section {
    padding-left: 10px;
  }
  
  ion-item.input-product-list-name.ion-invalid {
    --highlight-color-invalid: transparent;
    ion-input.ion-invalid {
      border-color: transparent;
    }
  }
  
  ion-button.save-product-list-button {
    --box-shadow: none;
    --border-radius: 40px;
    letter-spacing: 1px;
    font: normal normal bold 10px/12px Roboto;
  }
  
  ion-label.label-font-style {
    margin-left: 13px;
    letter-spacing: 0px;
    font: normal normal medium 14px/16px Roboto;
  }

  ion-input {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --placeholder-color: var(--ion-color-secondary-purple) !important;
  }