h1, p {
    line-height: 19px;
}

p {
    margin-top: 3px;
    font-size: 17px;
}

ion-item {
    margin-top: 10px;
    --margin-top: 10px;
    ion-label {
        --margin-top: 0;
        margin-top: 0;
    }
}

ion-grid {
    --padding-top: 0;
    padding-top: 0;
    margin-top: 25px;
}

ion-toolbar {
    --padding-top: 10px;
    --background: linear-gradient(to bottom, white, white 70%, transparent 70%, transparent 100%)
}

.wish-list-owner-names {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3px;
}

.wish-list-name {
    font-size: 14px !important;
    font-weight: normal;
}

.wish-list-date {
    font-size: 14px;
    color: var(--ion-color-secondary);
    margin: 0;
}

.cancel-wish-reservation-modal {
    --height: 30%;
    --border-radius: 11pt;
    --width: 85%;
}

.wish-list-detail-container {
    margin-top: 16px;
}

@media (min-width: 992px) {
    div.grid-centered {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (min-width: 1200px) {
    div.grid-centered {
        margin-right: 15%;
        margin-left: 15%;
    }
}

@media (min-width: 1800px) {
    div.grid-centered {
        margin-right: 25%;
        margin-left: 25%;
    }
}

@media (min-width: 2400px) {
    div.grid-centered {
        margin-right: 32%;
        margin-left: 32%;
    }
}