<ion-header class="ion-no-border safe-area-inset-top">
  <ion-toolbar class="ion-text-center">
    <img src="assets/icon/wantic-logo.svg" alt="Wantic Logo" />
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="wishList">
  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="wishList.owners" [showOnlyInitials]="true"></app-owners-info>
    <div class="details">
      <p class="wish-list-owner-names">{{ wishList.owners | ownerNames }}</p>
      <p class="wish-list-name">{{ wishList.name }}</p>
      <p class="wish-list-date">{{ date }}</p>
    </div>
  </section>

  <div class="divide"></div>

  <div class="grid-centered">
    <div class="masonry" #masonry>
      <div class="brick" *ngFor="let wish of wishes$ | async; trackBy:trackByWishId" #bricks>
        <app-shared-wish [wish]="wish" [wishList]="wishList" (wishStateChanged)="updateWishList($event)"></app-shared-wish>
      </div>
    </div>
  </div>

 </ion-content>
