h1, p {
    line-height: 19px;
}

p {
    margin-top: 3px;
    font-size: 17px;
}

ion-item {
    margin-top: 10px;
    --margin-top: 10px;
    ion-label {
        --margin-top: 0;
        margin-top: 0;
    }
}

ion-grid {
    --padding-top: 0;
    padding-top: 0;
    margin-top: 25px;
}

ion-toolbar {
    --padding-top: 10px;
    --background: linear-gradient(to bottom, white, white 70%, transparent 70%, transparent 100%)
}

.wish-list-owner-names {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3px;
}

.wish-list-name {
    font-size: 14px !important;
    font-weight: normal;
}

.wish-list-date {
    font-size: 14px;
    color: var(--ion-color-secondary);
    margin: 0;
}