<ion-content class="ion-text-center" scrollY="false">
  <img src="assets/images/start-wantic-name.svg" />
  <p>
    Lege Wunschlisten an, und teile diese mit deinen Freunden und deiner Familie.
  </p>
  <ion-button class="wantic-save-button"  color="black" expand="block" (click)="signupWithApple()" disabled="true">
    <ion-icon name="logo-apple"></ion-icon>&nbsp;<span>Mit Apple anmelden</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="facebook-blue" expand="block" (click)="signupWithFacebook()" disabled="true">
    <ion-icon name="logo-facebook"></ion-icon>&nbsp;<span>Mit Facebook anmelden</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="white" expand="block" (click)="signupWithGoogle()" disabled="true">
    <ion-icon src="assets/icon/google-logo.svg"></ion-icon>&nbsp;<span>Mit Google anmelden</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="white" expand="block" (click)="signupWithMailAndPassword()">
    <ion-icon name="mail-outline"></ion-icon>&nbsp;<span>Mit E-Mail Adresse anmelden</span>
  </ion-button>

</ion-content>

<ion-footer>
  <p class="ion-text-center">Hast du bereits ein Konto?</p>
  <ion-button class="wantic-save-button login-button"  color="tertiary" expand="block" [routerLink]="['/login']">
    EINLOGGEN
  </ion-button>
</ion-footer>
