<ion-content class="ion-text-center" scrollY="false">
  <img src="assets/images/start-wantic-name.svg" />
  <p>
    Lege Wunschlisten an, und teile diese mit deinen Freunden und deiner Familie.
  </p>
  <ion-button class="wantic-save-button"  color="black" expand="block" (click)="signupWithApple()" disabled="true">
    <ion-icon name="logo-apple"></ion-icon>&nbsp;<span>Weiter mit Apple</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="facebook-blue" expand="block" (click)="signupWithFacebook()" disabled="true">
    <ion-icon name="logo-facebook"></ion-icon>&nbsp;<span>Weiter mit Facebook</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="white" expand="block" (click)="signupWithGoogle()" disabled="true">
    <ion-icon src="assets/icon/google-logo.svg"></ion-icon>&nbsp;<span>Weiter mit Google</span>
  </ion-button>
  <ion-button class="wantic-save-button"  color="white" expand="block" (click)="signupWithMailAndPassword()">
    <ion-icon name="mail-outline"></ion-icon>&nbsp;<span>Weiter mit E-Mail Adresse</span>
  </ion-button>

</ion-content>

<ion-footer>
  <p class="ion-text-center">
    Indem du fortfährst, stimmst du der <a (click)="privacyPolicyService.showPrivacyPolicy()"><strong>Datenschutzerklärung</strong></a> von wantic zu.
  </p>
</ion-footer>