<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar logoColor="orange" [defaultHref]="defaultHref"></app-nav-toolbar>
</ion-header>

<ion-content>

  <section class="ion-text-center" *ngIf="!errorMessage">
    <p class="font-size-18 margin-bottom-2"><strong>{{ listName }}</strong></p>
    <p class="font-size-14 margin-top-2">{{ creatorName }}</p>
    <p class="font-size-11 color-primary margin-top-11">{{ numberOfProducts }}</p>
  </section>

  <p class="ion-text-center wantic-info-box" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <div class="masonry" #masonry>
    <div class="brick" *ngFor="let product of products; trackBy:trackById" #bricks>
      <app-product [product]="product"></app-product>
    </div>
  </div>

 </ion-content>
