<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<app-hint *ngIf="showHint" [config]="hintConfig"></app-hint>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <ion-item lines="none">
      <ion-label position="stacked">Geburtstag</ion-label>
      <ion-datetime doneText="Fertig" cancelText="Abbrechen" formControlName="birthday" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>
    <app-validation-messages [control]="form.get('birthday')" [validationMessages]="validationMessages.birthday"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block" [disabled]="!form.valid">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
