<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <app-datetime formControlName="birthday" label="Geburtstag" placeholder="01.01.1990" initialDate="1990-01-01T00:00:00" [maxDate]="maxDate"></app-datetime>
    <app-validation-messages [control]="form.get('birthday')" [validationMessages]="validationMessages.birthday"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
