.wish-list-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-color-dark);
}

.wish-list-date {
    font-size: 14px;
    font-weight: 400;
    color: var(--ion-color-secondary);
}

.wish-list-description {
    border-top: 2px dashed #F0EDE3;
    margin-top: 12px;
}

ion-avatar {
    max-width: 21px;
    max-height: 21px;
    float: right;
}

.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}

ion-grid {
    background-color: white;
    padding: 0;
}

ion-grid.left {
    margin-right: 4px;
}

ion-grid.right {
    margin-left: 4px;
}

ion-grid.center {
    margin-left: 2px;
    margin-right: 2px;
}

ion-col.wish-image-container {
    height: 100px;
    padding: 0;
    img {
        height: 95px;
    }
    img.placeholder-image {
        max-height: 95px;
    }
}
