#wish-list-name {
    font-family: 'Roboto';
    font-size: 20pt;
    color: var(--ion-color-dark);
}

#wish-list-date {
    font-family: 'Roboto';
    font-size: 14pt;
    color: var(--ion-color-secondary);
}

.wish-list-description {
    border-top: 1px dashed #f7f6f1;
}