<ion-content>

  <p *ngIf="success">
    Du hast deine E-Mail Adresse {{ email }} erfolgreich bestätigt.<br><br>

    Damit kannst du den vollen Funktionsumfang der App nutzen.<br><br>

    Wir wünschen dir viel Spaß bei Wantic!
  </p>

  <p *ngIf="expiredResendSuccessful && !emailProcessStart">
    Der Bestätigungslink ist leider abgelaufen. Wir haben dir deshalb einen neuen zugesendet.<br>
    Den Link findest du wieder im Postfach deiner E-Mail-Adresse {{ email }}.<br><br>

    Solltest du keinen erhalten haben kannst du ihn hier erneut anfordern.
  </p>
  <p *ngIf="expiredResendFailed && !emailProcessStart">
    Der Bestätigungslink ist leider abgelaufen. <br><br>

    Du kannst diesen hier erneut anfordern.
  </p>
  <p *ngIf="expired && errorWhileSendingEmail">
    Wir bitten um Entschuldigung.

    Auf Grund eines technischen Fehlers konnte die E-Mail nicht zugesetellt werden.<br>
    Der Support wurde kontaktiert, um den Fehler zu beheben.
  </p>
  <p *ngIf="expired && emailSentSuccessfully">
    Wir haben die gerade eine E-Mail mit dem neuen Bestätigungslink gesendet. <br>
    Den Link findest du wieder im Postfach deiner E-Mail-Adresse {{ email }}.
  </p>

  <p *ngIf="error">
    Wir bitten um Entschuldigung.<br><br>

    Deine E-Mail Adresse {{ email }} konnte leider auf Grund eines technischen Fehlers nicht bestätigt werden.<br>
    Der Support wurde kontaktiert und meldet sich bei dir sobald das Problem behoben ist.
  </p>

  <p *ngIf="notFound">
    Dein Bestätigungslink ist nicht gültig.<br><br>

    Wir haben dir bereits einen neuen Link zugesendet. <br>
    Den Link findest du wieder im Postfach deiner E-Mail-Adresse {{ email }}.<br><br>

    Solltest du keinen erhalten haben kannst du ihn hier erneut anfordern.
  </p>

</ion-content>

<ion-footer >
  <ion-button *ngIf="success" class="wantic-save-button" color="primary" expand="block" [routerLink]="['/secure/home/wish-list-overview']">
    WEITER ZUR STARTSEITE
  </ion-button>
  <ion-button *ngIf="showResendButton" class="wantic-save-button" color="primary" expand="block" (click)="requestEmailVerficiationLink()">
    BESTÄTIGUNGSLINK ERNEUT ANFORDERN
  </ion-button>
</ion-footer>
