<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <div class="wantic-margin-right-left">
    <p *ngIf="success">
      Du hast deine E-Mail Adresse {{ email }} erfolgreich bestätigt.<br><br>
      Damit kannst du den vollen Funktionsumfang der App nutzen.<br><br>
      Wir wünschen dir viel Spaß bei Wantic!
    </p>
    <p *ngIf="expired">
      Der Bestätigungslink ist leider abgelaufen. Wir haben dir deshalb einen neuen zugesendet.<br>
      Den Link findest du wieder im Postfach deiner E-Mail-Adresse {{ email }}.<br><br>
      Solltest du keinen erhalten haben kannst du ihn hier erneut anfordern.
    </p>  
    <p *ngIf="error">
      Wir bitten um Entschuldigung.<br><br>
      Deine E-Mail Adresse {{ email }} konnte leider auf Grund eines technischen Fehlers nicht bestätigt werden.<br>
    </p>
    <p *ngIf="userIsAlreadyVerified">
      Du hast deine E-Mail-Adresse bereits erfolgreich bestätigt. <br><br>
      Damit kannst du den vollen Funktionsumfang der App nutzen.<br><br>
    </p>
  </div>
</ion-content>

<ion-footer >
  <ion-button *ngIf="showGotToStartpageButton" class="wantic-save-button" color="primary" expand="block" [routerLink]="['/secure/home/wish-list-overview']">
    WEITER ZUR STARTSEITE
  </ion-button>
  <ion-button *ngIf="showResendButton" [disabled]="disableButton" class="wantic-save-button" color="primary" expand="block" (click)="requestEmailVerficiationLink()">
    BESTÄTIGUNGSLINK ERNEUT ANFORDERN
  </ion-button>
</ion-footer>
