<form [formGroup]="form" *ngIf="form && !wishReserved" (ngSubmit)="reserveWish()">
  <div lines="none" class="ion-text-right">
    <ion-button (click)="closeModal()" class="ion-text-right no-margin" fill="clear">
      <ion-icon slot="icon-only" name="close-outline" color="dark"></ion-icon>
    </ion-button>
  </div>

  <p>Bitte gib deine E-Mail-Adresse an, damit kein anderer dieses Geschenk noch einmal schenken kann.</p>
  <ion-item lines="none">
    <ion-input inputmode="email" name="email" type="email" placeholder="E-Mail Adresse" formControlName="email" clearInput="true">
    </ion-input>
  </ion-item>
  <app-validation-messages [control]="form.get('email')" [validationMessages]="validationMessages.email">
  </app-validation-messages>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="small-text">
        <p>Ich habe die <a (click)="privacyPolicyService.showPrivacyPolicy()"><strong>Datenschutzerklärung</strong></a> von wantic.io gelesen und akzeptiert</p>
      </ion-col>
      <ion-col size="3" class="auto-margin">
        <ion-toggle name="acceptPrivacyPolicy" color="primary" formControlName="acceptPrivacyPolicy"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="wantic-save-button" type="submit" [disabled]="!form.valid" expand="block">Schenken</ion-button>
</form>

<div *ngIf="wishReserved" class="ion-text-center">
  <div class="ion-text-right">
    <ion-button (click)="closeModal()" class="ion-text-right no-margin" fill="clear">
      <ion-icon slot="icon-only" name="close-outline" color="dark"></ion-icon>
    </ion-button>
  </div>

  <p> Toll, dass du {{ wishList.owners | ownerNames:'und':'s' }} Wunsch erfüllst.
    {{ wishList.owners | ownerNames:'und' }}
    <span [ngPlural]="wishList.owners.length">
      <ng-template ngPluralCase="=1">wird</ng-template>
      <ng-template ngPluralCase="=2">werden</ng-template>
    </span>
    sich sehr freuen. <br><br>
    Dein Geschenk ist nun für dich reserviert.
  </p>
  <ion-button class="wantic-save-button" type="submit" expand="block" (click)="closeModal()">Fenster schließen
  </ion-button>
</div>