<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar defaultHref="/start"></app-nav-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center registration">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <ion-item lines="none">
      <ion-input id="login-input-email" inputmode="email" name="email" type="email" autocomplete="email" placeholder="E-Mail" formControlName="email" enterkeyhint="next" required="true" clearInput="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="loginForm.get('email')" [validationMessages]="validationMessages.email"></app-validation-messages>

    <app-show-hide-password>
      <ion-input formControlName="password" name="password" type="password" placeholder="Passwort"  autocomplete="current-password"></ion-input>
    </app-show-hide-password>
    <app-validation-messages [control]="loginForm.get('password')" [validationMessages]="validationMessages.password"></app-validation-messages>

    <ion-item lines="none" class="toggleContainer">
      <ion-label [ngClass]="{ 'toggle-checked': loginForm.get('saveCredentials').value, 'toggle-unchecked': !loginForm.get('saveCredentials').value }">Angemeldet bleiben</ion-label>
      <ion-toggle slot="end" name="saveCredentials" color="primary" formControlName="saveCredentials"></ion-toggle>
    </ion-item>

    <ion-button class="wantic-save-button" type="submit" expand="block">Einloggen</ion-button>
  </form>

  <div class="ion-text-center container-forgot-password">
    <a class="wantic-link"><ion-text color="tertiary" (click)="navToPasswordForgottenPage()">Passwort vergessen?</ion-text></a>
  </div>
</ion-content>