<ion-header no-border >
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="back-button" (click)="goBack()">
        <ion-icon slot="start" src="assets/icon/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img class="img-toolbar-wantic-logo" src="assets/icon/wantic-logo-s.svg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center registration">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    
    <ion-item lines="none">
      <ion-input id="login-input-email" inputmode="email" name="email" type="email" placeholder="E-Mail" formControlName="email"></ion-input>
    </ion-item>
    <app-validation-messages [control]="loginForm.get('email')" [validationMessages]="validationMessages.email"></app-validation-messages>

    <ion-item lines="none">
      <ion-input id="input-password" name="password" type="password" placeholder="Passwort" formControlName="password"></ion-input>
    </ion-item>
    <app-validation-messages [control]="loginForm.get('password')" [validationMessages]="validationMessages.password"></app-validation-messages>

    <ion-button class="wantic-save-button" type="submit" [disabled]="!loginForm.valid" expand="block">Einloggen</ion-button>
  </form>

  <div class="ion-text-center container-forgot-password">
    <a class="wantic-link"><ion-text color="tertiary">Passwort vergessen?</ion-text></a>
  </div>
</ion-content>
