<ion-content>
  <ion-grid class="ion-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <h1 class="ion-text-center">Login</h1>
          <div class="ion-padding">
            <ion-item id="input-email" >
              <ion-input name="email" type="email" placeholder="E-Mail" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input id="input-password" name="password" type="password" placeholder="Passwort" formControlName="password"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button id="button-login" type="submit" [disabled]="!loginForm.valid" expand="block">Einloggen</ion-button>
          </div>
          <div class="ion-text-center">
            <a id="link-forgot-password">Passwort vergessen?</a>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
          <ion-button expand="block" fill="outline" (click)="goToRegistration()">Neuen Account anlegen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
