<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <ion-item lines="none">
      <ion-label position="stacked">Geburtstag</ion-label>
      <ion-datetime formControlName="birthday" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>
    <app-validation-messages [control]="form.get('birthday')" [validationMessages]="validationMessages.birthday"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block" [disabled]="!form.valid">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
