<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header">Einstellungen</h1>

  <div class="display-flex align-items-center content-space-evenly wantic-margin-right-left">
    <div>
      <app-user-initials [firstName]="firstName" [lastName]="lastName" size="size-m"></app-user-initials>
    </div>
    <div [ngClass]="{ 'ion-text-center': hasCreatorAccount }">
      <p class="margin-bottom-4"><strong>{{ firstName }}&nbsp;{{ lastName }}</strong></p>
      <p class="margin-top-4">
        <span *ngIf="!hasCreatorAccount || !isCreatorAccountActive">Standard Profil</span>
        <span *ngIf="hasCreatorAccount && isCreatorAccountActive">Creator Profil</span>
      </p>
    </div>
    <div *ngIf="hasCreatorAccount">
      <ion-button fill="outline" (click)="switchAccount()">
        <ion-icon slot="icon-only" name="swap-horizontal-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-list>
    <ion-item [routerLink]="['settings']" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">Profil bearbeiten</ion-label>
    </ion-item>
    <ion-item (click)="showFaqPage()" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">FAQ</ion-label>
    </ion-item>
    <ion-item (click)="privacyPolicyService.showPrivacyPolicy()" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">Datenschutz</ion-label>
    </ion-item>
    <ion-item (click)="privacyPolicyService.showImprint()" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">Impressum</ion-label>
    </ion-item>
    <ion-item [routerLink]="['creator-account-info']" detail="false" *ngIf="!hasCreatorAccount">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">Creator werden</ion-label>
    </ion-item>
    <ion-item (click)="logout()" detail="false">
      <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
      <ion-label class="action-item-without-header">Abmelden</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <p class="ion-text-center app-version">Version {{appVersion}}</p>
</ion-footer>