ion-list {
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    margin-top: 20px;
    ion-item {
        --border-style: dashed;
        --border-color: var(--ion-color-secondary);
    }
    ion-item::part(native) {
        --padding-start: 0
    }
}

.new-feat-chip {
    border-radius: 16px;
    background: #C263E3;
    width: 43px;
    height: 21px;
    color: #FFF;
    text-align: center;
    font-size: 9.5px;
    letter-spacing: 1.235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
}

.action-item-without-header {
    font-size: 14px;
    font-weight: 500;
}

.app-version {
    font-size: 10pt;
    color: #c7c7c7;
}

.content-space-evenly {
    justify-content: space-evenly;
}