ion-list {
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    margin-top: 20px;
    ion-item {
        --border-style: dashed;
        --border-color: var(--ion-color-primary);
    }
    ion-item::part(native) {
        --padding-start: 0
    }
}

.action-item-without-header {
    font-size: 14px;
    font-weight: 500;
}

.app-version {
    font-size: 10pt;
    color: #c7c7c7;
}

.content-space-evenly {
    justify-content: space-evenly;
}