<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info *ngIf="wishList" [owners]="wishList?.owners"></app-owners-info>
    <div class="details">
      <h1 class="wish-list-name">{{ wishList?.name || 'wird geladen' }}</h1>
      <p class="wish-list-date">{{  wishList?.date ? (wishList?.date | date) : 'noch kein Datum festgelegt' }}</p>
    </div>
  </section>

  <ion-card>
    <app-wish-shop-info [wish]="wish" [styles]="shopInfoComponentStyles" [toggleIsFavorite]="true">
      <div class="position-absolute product-image-container" (click)="openProductURL()">
        <app-wish-image [src]="wish.imageUrl" [alt]="wish.name" [styles]="wishImageComponentStyles"></app-wish-image>
      </div>
    </app-wish-shop-info>
    <ion-card-content>
      <div  class="ion-text-left">
        <div class="wish-description">
          <div class="wish-name">{{ wish?.name || 'wird geladen' }}</div>
          <div class="wish-note own-wish-note" *ngIf="wish?.note">{{ wish.note }}</div>
        </div>
        <div class="ion-text-center edit-wish-button-container">
          <a [routerLink]="['./edit']" class="edit-wish-button">
            <img src="assets/icon/pencil.svg" alt="Icon - Bild bearbeiten"/>
          </a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button class="wantic-save-button" color="primary" expand="block" (click)="openProductURL()">
    WEBSEITE BESUCHEN
  </ion-button>
  <ion-button *ngIf="isDebugInfoVisible" class="wantic-save-button" color="dark" expand="block" (click)="showDebugInfo()">
    <ion-icon name="construct-outline"></ion-icon>&nbsp;DEBUG INFO
  </ion-button>

</ion-content>
