@media (max-height: 568px) {
    ion-card {
        div.product-image-container { 
            height: 195px;
        }
    }
}

@media (min-height: 569px) and (max-height: 667px) {
    ion-card {
        div.product-image-container { 
            height: 290px;
        }
    }
}

@media (min-height: 668px) {
    ion-card {
        div.product-image-container { 
            height: 350px;
        }
    }
}

ion-card {
    background-color: white;
    height: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    .product-image-container {
        position: relative;
        img {
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            max-height: 100%;
            max-width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    ion-card-content {
        border-top: 2px dashed #F0EDE3;
        padding: 10px;
        div.wish-description {
            width: 85%;
            display: inline-block;
            border: none;
            div.wish-name {
                font-size: 20px;
                font-weight: 500;
                line-height: 21px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        div.edit-wish-button-container {
            width: 15%;
            display: inline-block;
            position: absolute;
            a.edit-wish-button {
                height: 100%;
            }
        }
    }
}

section.wish-list-detail-container {
    margin-bottom: 30px;
}

ion-button.wantic-save-button {
    margin-bottom: 5pt;
}