ion-card {
    img {
        width: 50%;
        margin: auto;
    }
    img.placeholder {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    background-color: white;
    height: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
        div.edit-wish-button {
            height: 100%;
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }
    }
}

div.wish-name {
    font-size: 20px;
    font-weight: 500;
}

div.wish-price {
    margin-top: 4px;
}

section.wish-list-detail-container {
    margin-bottom: 30px;
}