<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="wishList.owners"></app-owners-info>
    <div class="details">
      <h1 class="wish-list-name">{{ wishList.name }}</h1>
      <p class="wish-list-date">{{  wishList.date ? (wishList.date | date) : 'noch kein Datum festgelegt' }}</p>
    </div>
  </section>

  <ion-card>
    <div class="product-image-container">
      <app-image *ngIf="wish.imageUrl" [src]="wish.imageUrl" (click)="openProductURL()" alt="Produktbild"></app-image>
      <img class="placeholder" *ngIf="!wish.imageUrl" src="assets/images/wish-list-placeholder.svg" (click)="openProductURL()" alt="Platzhalterbild">
    </div>
    <ion-card-content>
      <div  class="ion-text-left">
        <div class="wish-description">
          <div class="wish-name">{{ wish.name }}</div>
          <div class="wish-price">{{ wish.price.displayString }}</div>
        </div>
        <div class="ion-text-center edit-wish-button-container">
          <a [routerLink]="['../edit']" class="edit-wish-button">
            <img src="assets/icon/pencil.svg" alt="Icon - Bild bearbeiten"/>
          </a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button class="wantic-save-button" color="primary" expand="block" (click)="openProductURL()">
    WEBSEITE BESUCHEN
  </ion-button>
  <ion-button *ngIf="isDebugInfoVisible" class="wantic-save-button" color="dark" expand="block" (click)="showDebugInfo()">
    <ion-icon name="construct-outline"></ion-icon>&nbsp;DEBUG INFO
  </ion-button>

</ion-content>
