ion-card {
    img {
        width: 50%;
        margin: auto;
    }
    img.placeholder {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    background-color: white;
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
    }
}