<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center wish-list-detail-container">
    <app-owners-info [owners]="wishList.owners"></app-owners-info>
    <div class="details">
      <h1 class="wish-list-name">{{ wishList.name }}</h1>
      <p class="wish-list-date">{{  wishList.date ? (wishList.date | date) : 'noch kein Datum festgelegt' }}</p>
    </div>
  </section>

  <ion-card>
    <img *ngIf="wish.imageUrl" [src]="wish.imageUrl" (click)="openProductURL()" alt="Produktbild">
    <img class="placeholder" *ngIf="!wish.imageUrl" src="assets/images/wish-list-placeholder.svg" (click)="openProductURL()" alt="Platzhalterbild">
    <ion-card-content>
      <ion-row>
        <ion-col size="10" class="no-padding-bottom ion-text-left">
          <div class="wish-name">{{ wish.name | truncateName:40 }}</div>
          <div class="wish-price">{{ wish.price }}</div>
        </ion-col>
        <ion-col size="2" class="ion-text-right ">
          <a  [ngClass]=" { 'disabled': accountIsNotActivated }" [routerLink]="['../edit']" class="edit-wish-button">
            <img src="assets/icon/pencil.svg" alt="Icon - Bild bearbeiten"/>
          </a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-button class="wantic-save-button" color="primary" expand="block" (click)="openProductURL()">
    WEBSEITE BESUCHEN
  </ion-button>
</ion-content>
