<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <p class="wantic-margin-right-left ion-text-center">Möchtest du deinen Account wirklich löschen?</p>

  <form *ngIf="form" [formGroup]="form">

    <p class="wantic-margin-right-left password-label">Passwort</p>
    <app-show-hide-password>
      <ion-input formControlName="password" name="password" type="password" placeholder="Passwort"  autocomplete="current-password"></ion-input>
    </app-show-hide-password>
    <app-validation-messages [control]="form.get('password')" [validationMessages]="validationMessages.password"></app-validation-messages>

    <ion-button class="wantic-save-button" color="primary" expand="block" (click)="deleteAccount()" [disabled]="form.invalid || form.pristine">
      ACCOUNT LÖSCHEN
    </ion-button>
  </form>

</ion-content>