ion-img {
    img {
        height: 163px !important;
    }
}

ion-button {
    font-size: 10px;
    font-weight: bold;
    height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    --border-radius: 9pt;
    --border-width: 2px;
    --color: var(--ion-color-tertiary);
}

.name {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: var(--ion-color-dark);
}

.price {
    font-family: 'Roboto';
    color: var(--ion-color-primary);
    font-weight: 400;
    font-size: 14px;
}

.product-info {
    margin-top: 7pt;
    margin-bottom: 7pt;
}