:host ::ng-deep ion-item {
    --background: white;
    --border-radius: 25px;
    ion-input.ion-invalid.ion-touched, ion-input.ion-invalid.ion-dirty {
        border: none;
    }
    ion-icon {
        margin-left: 0;
        margin-right: 30px;
        width: 20px;
        height: 20px;
    }
}

:host ::ng-deep ion-item.ion-invalid.ion-touched { 
    border-radius: 25px;
    border: 2px solid var(--ion-color-primary);
}

:host ::ng-deep ion-item.ion-invalid.ion-dirty { 
    border-radius: 25px;
    border: 2px solid var(--ion-color-primary);
}