<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center registration-step-counter">4 / 5</div>
  <h1 class="ion-text-center registration">Melde dich <br> jetzt an</h1>
  <p class="subtext ion-text-center">
    Um deine Wünsche speichern zu können, benötigen <br>
    wir deine E-Mail Adresse sowie ein Passwort.
  </p>
  <form [formGroup]="form" *ngIf="form" (ngSubmit)="next()">
    <ion-item lines="none">
      <ion-input (keypress)="handleKeyboardEventOnEmailInput($event.keyCode)" formControlName="email" type="email" placeholder="E-Mail Adresse" autocomplete="email" autofocus="true" clearInput="true" enterkeyhint="next" inputmode="email" required="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('email')" [validationMessages]="validationMessages.email"></app-validation-messages>
    <div formGroupName="password">
      <app-show-hide-password>
        <ion-input (keypress)="handleKeyboardEventOnPasswordInput($event.keyCode)" name="password" formControlName="value" type="password" placeholder="Passwort" autocomplete="new-password" enterkeyhint="next" required="true"></ion-input>
      </app-show-hide-password>
      <app-validation-messages [control]="form.get('password.value')" [validationMessages]="validationMessages.passwordValue"></app-validation-messages>
      <ion-item lines="none">
        <ion-input (keypress)="handleKeyboardEventOnPasswordConfirmInput($event.keyCode)" name="passwordConfirm" formControlName="confirm" type="password" placeholder="Passwort wiederholen" required="true" enterkeyhint="next"></ion-input>
      </ion-item>
      <app-validation-messages [control]="form.get('password.confirm')" [validationMessages]="validationMessages.passwordConfirm"></app-validation-messages>
    </div>
    <ion-grid class="wantic-margin-right-left consent-container" >
      <ion-row class="consent-item" [ngClass]="{ 'unchecked': !acceptPrivacyPolicy }">
        <ion-col size="9" class="small-text">
          <p>Ich habe die <a (click)="privacyPolicyService.showPrivacyPolicy()"><strong>Datenschutzerklärung</strong></a> von wantic.io gelesen und akzeptiert</p>
        </ion-col>
        <ion-col size="3" class="auto-margin">
          <ion-toggle name="acceptPrivacyPolicy" color="primary" formControlName="acceptPrivacyPolicy"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" class="wantic-save-button" expand="block" [disabled]="!form.valid">Registrieren</ion-button>
  </form>
</ion-content>
