ion-grid.consent-container {
    font-size: 12.5px;
    line-height: 15px;
    ion-row.consent-item {
        ion-col > p {
            margin: 0;
        }
    }
    ion-row.consent-item.unchecked {
        color: #BCBABC;
        a {
            color: #BCBABC;
        }
    }
}