<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>W</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-text color="tertiary">
          <h1 class="ion-text-center">Melde dich jetzt an</h1>
        </ion-text>
        <p>
          Um deine Wünsche speichern zu können, benötigen
          wir deine E-Mail Adresse sowie ein Passwort.
        </p>
        <form [formGroup]="form">
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="E-Mail Adresse"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Passwort"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-button expand="block" routerLink="../registration-complete" [disabled]="!form.valid">Registrierung abschließen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>