<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <ion-item lines="none">
      <ion-label position="stacked">E-Mail Adresse</ion-label>
      <ion-input type="text" formControlName="email" clearInput="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('email')" [validationMessages]="validationMessages.email"></app-validation-messages>

    <p class="wantic-margin-right-left password-label">Passwort</p>
    <app-show-hide-password>
      <ion-input name="password" formControlName="password" type="password" placeholder="Passwort"  autocomplete="current-password"></ion-input>
    </app-show-hide-password>
    <app-validation-messages [control]="form.get('password')" [validationMessages]="validationMessages.password"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
