<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/wantic-logo.svg" alt="Wantic Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="registration-circle">
    <div class="form">
      <h1 class="registration ion-text-center">Fast <br> geschafft</h1>
        <p class="subtext ion-text-center">
          Wir haben dir gerade eine Mail gesendet, <br>
          um deine Mailadresse zu prüfen. Klicke <br>
          einfach auf den Bestätigungslink in der <br>
          Mail und schon kanns losgehen. <br><br>
        
          Bis gleich und viel Spaß beim Wünsche <br>
          speichern und teilen.
        </p>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-button class="wantic-save-button" expand="block" routerLink="/home">Weiter</ion-button>
</ion-footer>