<div class="registration-header">
  <ion-button fill="clear" class="back-button" (click)="goBack()">
    <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
  </ion-button>
  <div>
    <img src="assets/icon/wantic-logo-active.svg">
  </div>
</div>

<div class="registration-circle">
  <div class="form">
    <h1 class="registration ion-text-center">Fast <br> geschafft</h1>
      <p class="subtext ion-text-center">
        Wir haben dir gerade eine Mail gesendet, <br>
        um deine Mailadresse zu prüfen. Klicke <br>
        einfach auf den Bestätigungslink in der <br>
        Mail und schon kanns losgehen. <br><br>
      
        Bis gleich und viel Spaß beim Wünsche <br>
        speichern und teilen.
      </p>
  </div>
</div>

<ion-footer no-border>
  <ion-grid>
      <ion-row class="ion-justify-content-center">
          <ion-col size-lg="6">
              <ion-button expand="block" routerLink="/login">Zurück zum Login</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>