<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
</ion-header>

<ion-content>
  <h1 class="wantic-page-header ion-text-center">Creator suchen</h1>

  <div class="wantic-margin-right-left margin-bottom-16">
    <div class="wtc-label-container">
      <label class="wtc-label-stacked">Gib den Namen eines Creators ein:</label>
    </div>
    <ion-searchbar placeholder="Name oder Benutzername" 
                [formControl]="searchField" 
                [debounce]="1000"
                show-clear-button="always"
                clear-icon="assets/icon/clear-input-icon.svg"
                enterkeyhint="search"
                inputmode="search"
                (ionClear)="reset()">
    </ion-searchbar>
  </div>

  <hr />

  <p [ngPlural]="searchResult.length" *ngIf="!isSearching && searchField.value" class="wantic-margin-right-left ion-text-center font-size-14">
    <ng-template ngPluralCase="=0">Keine Suchergebnisse</ng-template>
    <ng-template ngPluralCase="=1">Ein Suchergebnis</ng-template>
    <ng-template ngPluralCase="other">{{ searchResult.length }} Suchergebnisse</ng-template>
  </p>

  <ion-list *ngIf="isSearching">
    <ion-item *ngFor="let number of [0,1,2,3,4]">
      <ion-avatar slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2><ion-skeleton-text [animated]="true"></ion-skeleton-text></h2>
        <p><ion-skeleton-text [animated]="true"></ion-skeleton-text></p>
      </ion-label>
      <ion-button slot="end" 
        size="small"
        shape="round"
        color="light"
        fill="outline">
        <ion-skeleton-text [animated]="true" style="width: 50px"></ion-skeleton-text>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="!isSearching">
    <ion-list class="search-results">
      <ion-item *ngFor="let creator of displayResult; trackBy:trackByUserName" (click)="selectItem(creator)" lines="none">
        <ion-icon slot="end" src="assets/icon/arrow-right.svg" class="arrow-right"></ion-icon>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ creator.name }}</h2>
          <p>{{ '@' + creator.userName }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreSearchResults($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Weitere Suchergebnisse werden geladen ...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>


</ion-content>
