.margin-bottom-16 {
    margin-bottom: 16px;
}
.wtc-label-stacked {
    margin-left: 0 !important;
}

.search-results {
    margin-left: 20px;
    margin-right: 20px;
    ion-item::part(native) {
        border-radius: 60px;
        background: #FFF;
        margin-bottom: 11px;
      }
}