<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar skipToPath="registration/credentials"></app-nav-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center registration-step-counter">3 / 5</div>
  <h1 class="registration ion-text-center">
    Welchem<br>
    Geschlecht<br>
    fühlst du dich<br>
    zugehörig?
  </h1>
  <div class="list-container">
    <ion-list class="wantic-margin-right-left" mode="md">
      <ion-radio-group name="gender" (ionChange)="updateGender($event)">    
        <ion-item lines="none">
          <ion-label>Weiblich</ion-label>
          <ion-radio slot="start" value="FEMALE"></ion-radio>
        </ion-item>
    
        <ion-item lines="none">
          <ion-label>Männlich</ion-label>
          <ion-radio slot="start" value="MALE"></ion-radio>
        </ion-item>
    
        <ion-item lines="none">
          <ion-label>Divers</ion-label>
          <ion-radio slot="start" value="DIVERSE"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-button class="wantic-save-button" expand="block" (click)="next()" [disabled]="!gender">Weiter</ion-button>
</ion-content>
