ion-item {
    height: 32pt;
    ion-radio {
        margin-right: 11px;
        width: 24pt;
        height: 24pt;
    }
}

ion-radio::part(container) {
    border-color: white;
    background-color: white;

}

.list-container {
    display: flex;
    margin-bottom: 29px;
    ion-list {
        margin-left: var(--wantic-primary-button-margin-left);
    }
}