h1 {
    margin: 0;
    margin-bottom: 10px;
}

ion-button.wantic-save-button {
  margin-bottom: 12px;
}

ion-button.save-wish-button {
  margin-top: 42px;
}

ion-textarea {
  height: auto; // auto-grow does not work on ios
  border-radius: 25px;
}

.image-container {
  background: white;
  margin-left: var(--wantic-margin);
  margin-right: var(--wantic-margin);
  border-radius: 25px;
  ion-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

ion-label.font-favorite-toggle-header {
  font-size: 14px;
  letter-spacing: 0px;
}

p.font-wish-list-header {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
}