<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-title size="large" class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
      <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
    </ion-button>
    <ion-text>
      <h1 class="ion-text-center wantic-page-header">Wunsch bearbeiten</h1>
    </ion-text>
  </ion-item>

  <div class="image-container">
    <ion-img *ngIf="wish.imageUrl" [src]="wish.imageUrl"></ion-img>
  </div>

  <form *ngIf="form" [formGroup]="form">

    <!--wish list id-->
    <ion-item lines="none">
      <ion-label position="stacked">Wunschliste</ion-label>
      <ion-input type="text" [value]="wishListName" readonly></ion-input>
    </ion-item>

    <!--name-->
    <ion-item lines="none">
      <ion-label position="stacked">Name</ion-label>
      <ion-textarea formControlName="name"></ion-textarea>
    </ion-item>
    <app-validation-messages [control]="form.get('name')" [validationMessages]="validationMessages.name"></app-validation-messages>

    <!--price-->
    <ion-item lines="none">
      <ion-label position="stacked">Preis</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('price')" [validationMessages]="validationMessages.price"></app-validation-messages>

  </form>
</ion-content>

<ion-footer no-border>
  <ion-button *ngIf="form" class="wantic-save-button" (click)="saveWish()" color="primary" expand="block" [disabled]="!form.valid">
    WUNSCH SPEICHERN
  </ion-button>
</ion-footer>
