<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>W</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid class="ion-center">
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6">
                <ion-text color="tertiary">Lege Wunschlisten an und teile diese mit deinen Freunden und deiner Familie</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
  
  <ion-footer no-border>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6">
                <ion-button expand="block" routerLink="../wish-list-name">Weiter</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-footer>