// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ff704f;
  --ion-color-primary-rgb: 255,112,79;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e06346;
  --ion-color-primary-tint: #ff7e61;

  /** primary purple **/
  --ion-color-primary-purple: #C263E3;
	--ion-color-primary-purple-rgb: 194,99,227;
	--ion-color-primary-purple-contrast: #ffffff;
	--ion-color-primary-purple-contrast-rgb: 0,0,0;
	--ion-color-primary-purple-shade: #ab57c8;
	--ion-color-primary-purple-tint: #c873e6;

  /** secondary **/
  --ion-color-secondary: #ffd1b6;
  --ion-color-secondary-rgb: 255,209,182;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0b8a0;
  --ion-color-secondary-tint: #ffd6bd;

  /** secondary purple **/
  --ion-color-secondary-purple: #EEBFFF;
	--ion-color-secondary-purple-rgb: 238,191,255;
	--ion-color-secondary-purple-contrast: #ffffff;
	--ion-color-secondary-purple-contrast-rgb: 0,0,0;
	--ion-color-secondary-purple-shade: #d1a8e0;
	--ion-color-secondary-purple-tint: #f0c5ff;

  /** tertiary **/
  --ion-color-tertiary: #3E3E3E;
  --ion-color-tertiary-rgb: 62,62,62;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #373737;
  --ion-color-tertiary-tint: #515151;

  /** success **/
  --ion-color-success: #20AD0D;
	--ion-color-success-rgb: 32,173,13;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #1c980b;
	--ion-color-success-tint: #36b525;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #3e3e3e;
  --ion-color-dark-rgb: 62,62,62;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #373737;
  --ion-color-dark-tint: #515151;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #a0a0a0;
  --ion-color-light-rgb: 160,160,160;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #8d8d8d;
  --ion-color-light-tint: #aaaaaa;

  /** white **/
  --ion-color-white: #FFFFFF;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0,0,0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255,255,255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;

  /** facebook-blue **/
  --ion-color-facebook-blue: #3B5998;
  --ion-color-facebook-blue-rgb: 59,89,152;
  --ion-color-facebook-blue-contrast: #ffffff;
  --ion-color-facebook-blue-contrast-rgb: 255,255,255;
  --ion-color-facebook-blue-shade: #344e86;
  --ion-color-facebook-blue-tint: #4f6aa2;

  --ion-border-color: var(--ion-color-secondary);

  // wantic

  --wantic-background-color: #F4F4F4;
  --wantic-background-color-rgb: 244,244,244;
  --wantic-margin: 14.67%;
  --wantic-container-spacing: 10px;

  --wantic-primary-button-margin-right: 25.33%;
  --wantic-primary-button-margin-left: 25.33%;

  // masonry

  --masonry-gap: 10px;
  --masonry-gap-half: 5px;

}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-facebook-blue {
  --ion-color-base: var(--ion-color-facebook-blue);
  --ion-color-base-rgb: var(--ion-color-facebook-blue-rgb);
  --ion-color-contrast: var(--ion-color-facebook-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-blue-shade);
  --ion-color-tint: var(--ion-color-facebook-blue-tint);
}

.ion-color-primary-purple {
  --ion-color-base: var(--ion-color-primary-purple);
  --ion-color-base-rgb: var(--ion-color-primary-purple-rgb);
  --ion-color-contrast: var(--ion-color-primary-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-purple-shade);
  --ion-color-tint: var(--ion-color-primary-purple-tint);
}

.ion-color-secondary-purple {
  --ion-color-base: var(--ion-color-secondary-purple);
  --ion-color-base-rgb: var(--ion-color-secondary-purple-rgb);
  --ion-color-contrast: var(--ion-color-secondary-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-purple-shade);
  --ion-color-tint: var(--ion-color-secondary-purple-tint);
}