a {
    color: var(--ion-color-tertiary)
}

ion-content {
    --ion-background-color: #f7f6f1;
}

h1.wantic-page-header {
    font-family: 'Playfair Display';
    font-size: 18pt;
    color: var(--ion-color-tertiary);
}

.wantic-toolbar {
    --background: #f7f6f1;
    --border-style: none;
}

ion-button.wantic-logo {
    height: 45px;
}