a.wantic-link {
    color: var(--ion-color-tertiary);
    font-size: 10px;
    text-decoration: underline;
}

.wantic-margin-right-left {
    margin-right: var(--wantic-margin);
    margin-left: var(--wantic-margin);
}

img.img-toolbar-wantic-logo {
    height: 40px; // $toolbar-ios-hight - 4px
}

ion-button.wantic-save-button {
    --ion-color-contrast: white !important;
    --color: white !important;
    font-family: 'Roboto';
    font-size: 10px;
    text-transform: uppercase;
    height: 48px;
    --border-radius: 50pt;
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    margin-bottom: 40pt;
    letter-spacing: 1pt;
}

ion-button.wantic-save-button.button-disabled {
    --background: #ffae80
}

ion-button.wantic-delete-button {
    font-family: 'Roboto';
    font-size: 10pt;
    text-transform: uppercase;
    height: 48px;
}

ion-content {
    --ion-background-color-rgb: var(--wantic-background-color-rgb);
    --ion-background-color: var(--wantic-background-color);
}

ion-footer {
    background-color: var(--wantic-background-color);
    --ion-background-color-rgb: var(--wantic-background-color-rgb);
    --ion-background-color: var(--wantic-background-color);
    border: none;
}

h1.wantic-page-header {
    font-family: playfair-display;
    font-size: 18pt;
    color: var(--ion-color-tertiary);
}

// toolbar 

.wantic-toolbar {
    --background: var(--wantic-background-color-rgb);
    --border-style: none;
}

ion-button.wantic-logo {
    height: 45px;
}

// form

.wantic-margin-right-left {
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
    }
}


ion-item.ion-invalid.ion-touched, ion-item.ion-invalid.ion-dirty {
    border-color: var(--ion-color-danger);
}

ion-input, ion-datetime, ion-select, ion-textarea, ion-searchbar {
    --background: white !important;
    --color: var(--ion-color-primary);
    --placeholder-color: #FFA571 !important;
    --padding-start: 19px !important;
    --padding-top: 12px !important;
    --padding-bottom: 12px !important;
    font-family: Arial !important;
    font-size: 14px;
}

form {
    ion-item {
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        --padding-start: 0;
        --padding-end: 0;
        margin-left: var(--wantic-margin);
        margin-right: var(--wantic-margin);
        margin-bottom: 20px;
        ion-input, ion-datetime, ion-textarea, ion-searchbar, ion-select {
            border: 2px solid var(--ion-color-secondary);
            border-radius: 9pt;
            background: white;
        }
        ion-searchbar {
            --placeholder-font-style: italic;
            background: white;
        }
        .ion-invalid.ion-touched, .ion-invalid.ion-dirty {
            border-color: var(--ion-color-danger);
        }
        ion-label.label-stacked {
            font-size: 15pt !important;
            margin-bottom: 10px !important;
        }
    }
}

ion-button.wantic-margin-right-left {
    --padding-start: 0;
    --padding-end: 0;
}

.wantic-modal {
    --width: 70%;
    --height: 70%;
    --border-radius: 11pt;
}

// registration 

.subtext {
    color: var(--ion-color-tertiary);
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
}

h1.registration {
    color: var(--ion-color-tertiary);
    font-family: playfair-display;
    font-weight: bold;
    font-size: 38px;
    padding-top: 10px;
    padding-bottom: 57px;
}

ion-header {
    --ion-background-color-rgb: var(--wantic-background-color-rgb);
    --ion-background-color: var(--wantic-background-color);
    background: var(--wantic-background-color);
    ion-toolbar {
        --ion-background-color-rgb: white;
        --ion-background-color: white;
        --min-height: 50px;
        --border-style: none;
        ion-buttons > ion-button.skip-button {
            letter-spacing: 1pt;
            font-weight: 700;
            font-size: 10px;
        }
        .wantic-title {
            font-family: playfair-display;
            font-weight: bold;
            color: var(--ion-color-primary);
          }
    }
}


// 
.creator-image {
    min-width: 40px;
    min-height: 40px;
    img {
        border: 3px solid #ff704f;
    }
}

.creator-image.standalone {
    margin-left: 50px;
    margin-right: 11px;
    margin-top: 0;
}

.creator-image.first {
    margin-left: 10px;
}

.creator-image.last {
    margin-right: 11px;
}

.friends-images {
    display: inline-block;
    width: 100%;
    text-align: center;
    ion-avatar {
        margin: auto;
        max-height: 24px;
        max-width: 24px;
    }
}

//wish card

.wish-name {
    font-family: 'Roboto';
    font-size: 14px;
    color: #3E3E3E;
    line-height: 20px;
}

.wish-price {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--ion-color-primary);
}

.image-container {
    margin-right: 10px;
    margin-left: 10px;
    ion-img {
        width: 50%;
        margin: auto;
    }
}

ion-grid.wantic-container {
    padding-right: var(--wantic-container-spacing);
    padding-left: var(--wantic-container-spacing);
}