a {
    color: var(--ion-color-tertiary)
}

ion-button.wantic-save-button {
    --ion-color-contrast: white !important;
    font-family: 'Roboto';
    font-size: 10pt;
    text-transform: uppercase;
    height: 48px;
}

ion-button.wantic-delete-button {
    font-family: 'Roboto';
    font-size: 10pt;
    text-transform: uppercase;
    height: 48px;
}

ion-content {
    --ion-background-color: var(--wantic-background-color);
}

ion-footer {
    background-color: var(--wantic-background-color);
}

h1.wantic-page-header {
    font-family: 'Playfair Display';
    font-size: 18pt;
    color: var(--ion-color-tertiary);
}

// toolbar 

.wantic-toolbar {
    --background: var(--wantic-background-color);
    --border-style: none;
}

ion-button.wantic-logo {
    height: 45px;
}

// form

ion-item.ion-invalid.ion-touched, ion-item.ion-invalid.ion-dirty {
    border-color: var(--ion-color-danger);
}

ion-input, ion-datetime, ion-select, ion-textarea {
    --background: var(--wantic-background-color);
    --color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary) !important;
    --padding-start: 19px !important;
}

form {
    ion-item {
        border: 1pt solid var(--ion-color-tertiary);
        border-radius: 9pt;
        margin-bottom: 20px;
        margin-left: 24pt;
        margin-right: 24pt;
        ion-label {
            font-size: 17px !important;
        }
    }
}

.wantic-modal {
    --width: 70%;
    --height: 70%;
    --border-radius: 11pt;
}

// registration 

.subtext {
    color: var(--ion-color-tertiary);
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
}

h1.registration {
    color: var(--ion-color-tertiary);
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 38px;
    padding-top: 2em;
}

.registration-header {
    text-align: center;
    position: relative;
    padding-top: 16px;
    background-color: var(--wantic-background-color);
    .back-button {
        position: absolute;
        left: 0;
        margin-top: 0;
    }
}

// 

app-login {
    background-color: #f7f6f0;
}

// 
.creator-image {
    min-width: 40px;
    min-height: 40px;
    img {
        border: 3px solid #ff704f;
    }
}

.creator-image.standalone {
    margin-left: 50px;
    margin-right: 11px;
}

.creator-image.first {
    margin-left: 10px;
}

.creator-image.last {
    margin-right: 11px;
}

.friends-images {
    display: inline-block;
    width: 100%;
    text-align: center;
    ion-avatar {
        margin: auto;
        max-height: 24px;
        max-width: 24px;
    }
}

//wish card

.wish-name {
    font-family: 'Roboto';
    font-size: 14px;
    color: #3E3E3E;
}

.wish-price {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--ion-color-primary);
}
