.wish-bought {
    border: 2px solid var(--ion-color-tertiary);
    border-radius: 10pt;
}

.wish-reserved {
    opacity: 0.3;
}

.wish-reserved-image-container {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
        position: absolute;
        left: 40%;
        top: 40%;
    }
}

.wish-description {
    border-top: 1px dashed #f7f6f1;
}

ion-button.give-button {
    font-size: 10px;
    font-weight: bold;
    --border-radius: 40px;
    letter-spacing: 1pt;
    margin-top: 9px;
    --margin-top: 9px;
}

ion-img {
    width: 50%;
    margin: auto;
}

ion-card {
    div.image-container {
        height: 180px;
        img {
            max-height: 180px;
            margin: auto;
            padding-top: 16px;
        }
    }
    background-color: white;
    margin: 0;
    height: 100%;
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
        padding-right: 10px;
        padding-left: 10px;
    }
}
