<ion-content>
  <ion-item lines="none" id="wish-list-new-header">
    <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
      <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
    </ion-button>
    <ion-text>
      <h1 class="ion-text-center wantic-page-header">Neue Wunschliste anlegen</h1>
    </ion-text>
  </ion-item>

  <form [formGroup]="form" *ngIf="form">
    <ion-item lines="none">
      <ion-label position="stacked">Name der Wunschliste</ion-label>
      <ion-input type="text" placeholder="z.B. Geburtstag" formControlName="name"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('name')" [validationMessages]="validationMessages.name"></app-validation-messages>

    <ion-item lines="none">
      <ion-label position="stacked">Datum</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>
    <app-validation-messages [control]="form.get('date')" [validationMessages]="validationMessages.date"></app-validation-messages>

    <div formGroupName="partner">

      <p class="form-group-label">Partner hinzufügen</p>

      <ion-item lines="none">
        <ion-input type="text" placeholder="Name deines Partners" formControlName="name"></ion-input>
      </ion-item>
      <app-validation-messages [control]="form.get('partner.name')" [validationMessages]="validationMessages.partnerName"></app-validation-messages>

      <ion-item lines="none">
        <ion-input type="email" placeholder="E-Mail Adresse eingeben" formControlName="email"></ion-input>
      </ion-item>
      <app-validation-messages [control]="form.get('partner.email')" [validationMessages]="validationMessages.partnerEmail"></app-validation-messages>

    </div>

  </form>

</ion-content>

<ion-footer no-border>
  <ion-button *ngIf="form" (click)="saveWishList()" color="primary" expand="block" [disabled]="!form.valid" class="wantic-margin-right-left wantic-save-button">
    NEUE WUNSCHLISTE ANLEGEN
  </ion-button>
  <ion-button color="primary" expand="block" fill="outline" class="wantic-save-button">
    ABBRECHEN
  </ion-button>
</ion-footer>