ol {
    padding-left: 20px;
    li {
        padding-bottom: 10px;
    }
}

p, ol {
    font-size: 15px;
    line-height: 20px;
}

p.info-text {
    margin-top: 0;
}

img.appstore-icon {
    width: 17px;
    height: 17px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2%;
    border: 0;
    border-top: 1px dashed #c7c7c7;
}