<div class="ion-text-center">
  <div class="ion-text-right">
    <ion-button (click)="dismissModal()" class="ion-text-right no-margin" fill="clear">
      <ion-icon slot="icon-only" name="close-outline" color="dark"></ion-icon>
    </ion-button>
  </div>

  <p> Toll, dass du {{ wishList.owners | ownerNames:'und':'s' }} Wunsch erfüllst.
    {{ wishList.owners | ownerNames:'und' }}
    <span [ngPlural]="wishList.owners.length">
      <ng-template ngPluralCase="=1">wird</ng-template>
      <ng-template ngPluralCase="=2">werden</ng-template>
    </span>
    sich sehr freuen. <br><br>
    Dein Geschenk ist nun für dich reserviert.
  </p>
  <ion-button class="wantic-save-button" type="submit" expand="block" (click)="closeModal()">
    <span>Fenster schließen und <br> zum Onlineshop springen</span>
  </ion-button>
</div>