:host {
    background-color: var(--wantic-background-color);
}

ion-button.wantic-save-button {
    margin-right: 20px;
    margin-left: 20px;
    span {
        line-height: 1.6;
    }
}

p {
    margin-left: 20px;
    margin-right: 20px;
}