<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <img src="assets/icon/wantic-logo.svg" alt="Wantic Logo" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Meine Familie & Freunde</h1>
  </ion-text>
  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col *ngFor="let wishList of wishLists" size="6" (click)="selectWishList(wishList)">
        <app-friend-wish-list [wishList]="wishList"></app-friend-wish-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
