<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar defaultHref="secure/product-lists/product-list-overview"></app-nav-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center">
    <p class="font-size-18 margin-bottom-2"><strong>{{ productList.name }}</strong></p>
    <p class="font-size-14 margin-top-2 margin-bottom-20">{{ numberOfProducts }}</p>
  </section>

  <section class="ion-text-center list-detail-page-actions">
    <a routerLink="/secure/list-search">
      <ion-icon src="assets/icon/plus.svg" ></ion-icon>
    </a>
    <a role="button" [routerLink]="['edit']">
      <ion-icon src="assets/icon/pencil.svg"></ion-icon>
    </a>
    <a role="button" (click)="share()">
      <ion-icon src="assets/icon/share.svg"></ion-icon>
    </a>
  </section>

</ion-content>