<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar logo="assets/icon/wantic-logo-purple.svg" defaultHref="secure/product-lists/product-list-overview"></app-nav-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center">
    <p class="font-size-18 margin-bottom-2"><strong>{{ productList.name }}</strong></p>
    <p class="font-size-14 margin-top-2 margin-bottom-20">{{ numberOfProducts }}</p>
  </section>

  <section class="ion-text-center list-detail-page-actions">
    <a [routerLink]="['product-search']">
      <ion-icon src="assets/icon/plus-purple.svg" ></ion-icon>
    </a>
    <a role="button" [routerLink]="['edit']">
      <ion-icon src="assets/icon/pencil.svg"></ion-icon>
    </a>
    <a role="button" (click)="share()">
      <ion-icon src="assets/icon/share-purple.svg"></ion-icon>
    </a>
  </section>

  <div class="masonry" #masonry>
    <div class="brick" *ngFor="let product of products; trackBy:trackById" #bricks>
      <app-product [product]="product" (editButtonClick)="navigateToProductDetailPage(product)"></app-product>
    </div>
  </div>

</ion-content>