<app-hint *ngIf="showHint" [config]="hintConfig"></app-hint>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <ion-item lines="none">
      <ion-label position="stacked">Vorname</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('firstName')" [validationMessages]="validationMessages.firstName"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block" [disabled]="!form.valid">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
