.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .add-button-padding {
    padding-top: 23px;
  }
  
  .add-icon {
    height: 30px;
    width: 30px;
    color: var(--ion-color-primary);
  }
  
  ion-col.wish-list {
    background-color: white;
    border: 2px solid #f7f6f1; 
    border-radius: 10pt;
    margin-bottom: 12px;
  }
  
  ion-col.wish-list-right {
    padding-left: 0;
  }
  
  ion-col.wish-list-left {
    padding-right: 0;
  }
  
  .button-container {
    padding: 0;
    margin-bottom: 12px;
  }
  .add-wish-button, .add-wish-list-button {
    background-color: white; 
    border: 2px solid #f7f6f1;
    padding: 0; 
    height: 131px;
  }
  .add-wish-list-button {
    padding-top: 5px; 
    border-radius: 0 0 10px 10px;
  }
  .add-wish-button {
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0;
  }
  .add-button-label {
    font-size: 15px;
    line-height: 18px;
  }
  
  .no-pointer-events {
    pointer-events: none;
  }
  
  