<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <p class="wantic-margin-right-left ion-text-center">Möchtest du deinen Account wirklich löschen?</p>

  <ion-button class="wantic-save-button" color="primary" expand="block" (click)="deleteAccount()">
    ACCOUNT LÖSCHEN
  </ion-button>

</ion-content>