<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center registration-step-counter">1 / 5</div>
  <h1 class="registration ion-text-center">Herzlichen <br> Glückwunsch!</h1>
  <p class="subtext ion-text-center">
    Du hast deine erste Wunschliste erstellt und <br>
    deinen ersten Wunsch hinzugefügt.<br><br>
  
    Wir wünschen dir viel Spaß mit Wantic. <br><br>
  
    Sag uns noch deinen Namen 
  </p>
  <form [formGroup]="form" *ngIf="form">
    <ion-item lines="none">
      <ion-input formControlName="firstName" type="text" placeholder="Vorname"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('firstName')" [validationMessages]="validationMessages.firstName"></app-validation-messages>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button *ngIf="form" class="wantic-save-button" expand="block" (click)="next()" [disabled]="!form.valid">Weiter</ion-button>
</ion-footer>