<ion-header>
  <ion-toolbar class="wantic-toolbar">
    <ion-buttons slot="start">
      <ion-button size="large" class="wantic-logo"  [routerLink]="['/home']" routerDirection="back">
        <img src="assets/icon/wantic-logo-active.svg">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/icon/friends-wish-lists.svg">
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" src="assets/icon/search-icon.svg"></ion-icon>
      </ion-button>
      <ion-menu-button>
        <img src="assets/icon/burger-menu.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
      <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
    </ion-button>
     <!---->
       <!--0-->
       <ion-avatar class="creator-image standalone" *ngIf="!wishList.ownerProfileImageUrls">
        <img  src="assets/images/avatar-placeholder.jpg">
      </ion-avatar>

      <!--1-->
      <ion-avatar class="creator-image standalone" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 1">
        <img *ngIf="wishList.ownerProfileImageUrls[0]" [src]="wishList.ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>

      <!--2-->
      <ion-avatar class="creator-image first" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[0]"  [src]="wishList.ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>
      <ion-avatar class="creator-image last" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[1]" [src]="wishList.ownerProfileImageUrls[1] | secure | async">
      </ion-avatar>
      <!---->
      <ion-label class="ion-text-wrap">
        <h1>{{ wishList.name }}</h1>
        <p>{{ wishList.date | date }}</p>
      </ion-label>
  </ion-item>

  <div class="friends-images" *ngIf="wishList.members">
    <ion-avatar *ngFor="let member of wishList.members">
      <img *ngIf="member.profileImageUrl" [src]="member.profileImageUrl | secure | async">
      <img *ngIf="!member.profileImageUrl" src="assets/images/avatar-placeholder.jpg">
    </ion-avatar>
  </div>

  <ion-card>
    <img [src]="wish.imageUrl">
    <ion-card-content>
      <div>{{ wish.name }}</div>
      <div>{{ wish.price | currency }}</div>
    </ion-card-content>
  </ion-card>
  <ion-button color="secondary" expand="block" fill="outline" (click)="openProductURL()">
    WEBSEITE BESUCHEN
  </ion-button>
  <ion-button color="tertiary" expand="block" fill="outline" (click)="deleteWish()">
    VON WUNSCHLISTE LÖSCHEN
  </ion-button>
</ion-content>
