<ion-header no-border>
  <ion-toolbar class="ion-text-center">
    <ion-title size="large" class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
      <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
    </ion-button>
     <!---->
       <!--0-->
       <ion-avatar class="creator-image standalone" *ngIf="!wishList.ownerProfileImageUrls || !wishList.ownerProfileImageUrls.length">
        <img  src="assets/images/avatar-placeholder.jpg">
      </ion-avatar>

      <!--1-->
      <ion-avatar class="creator-image standalone" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 1">
        <img *ngIf="wishList.ownerProfileImageUrls[0]" [src]="wishList.ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>

      <!--2-->
      <ion-avatar class="creator-image first" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[0]"  [src]="wishList.ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>
      <ion-avatar class="creator-image last" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[1]" [src]="wishList.ownerProfileImageUrls[1] | secure | async">
      </ion-avatar>
      <!---->
      <ion-label class="ion-text-wrap">
        <h1>{{ wishList.name }}</h1>
        <p>{{ wishList.date | date }}</p>
      </ion-label>
  </ion-item>

  <div class="friends-images" *ngIf="wishList.members">
    <ion-avatar *ngFor="let member of wishList.members">
      <img *ngIf="member.profileImageUrl" [src]="member.profileImageUrl | secure | async">
      <img *ngIf="!member.profileImageUrl" src="assets/images/avatar-placeholder.jpg">
    </ion-avatar>
  </div>

  <ion-card>
    <img *ngIf="wish.imageUrl" [src]="wish.imageUrl">
    <img class="placeholder" *ngIf="!wish.imageUrl" src="assets/images/wish-list-placeholder.svg">
    <ion-card-content>
      <ion-row>
        <ion-col size="10" class="no-padding-bottom">
          <div class="wish-name">{{ wish.name }}</div>
          <div class="wish-price">{{ wish.price }}</div>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" class="ion-text-right" [routerLink]="['/wish-edit']">
            <ion-icon slot="icon-only" src="assets/icon/pencil.svg"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button class="wantic-save-button" color="primary" expand="block" fill="outline" (click)="openProductURL()">
    WEBSEITE BESUCHEN
  </ion-button>
  <ion-button class="wantic-save-button"  color="tertiary" expand="block" fill="outline" (click)="deleteWish()">
    WUNSCH LÖSCHEN
  </ion-button>
</ion-content>
