<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/home']" routerDirection="back">
        <ion-icon slot="icon-only" name="logo-angular"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contacts"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="1" size="10">
        <div>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/images/avatar-placeholder.jpg">
            </ion-avatar>
            <ion-label>
              <h1>{{ wishList.name }}  
                <ion-icon name="create"></ion-icon>
              </h1>
              <p>{{ wishList.date | date }}</p>
            </ion-label>
          </ion-item>
          <div class="friends-images">
            <img src="assets/images/avatar-placeholder.jpg">
            <img src="assets/images/avatar-placeholder.jpg">
            <img src="assets/images/avatar-placeholder.jpg">
          </div>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <img [src]="wish.imageUrl">
    <ion-card-content>
      <div>{{ wish.name }}</div>
      <div>{{ wish.price | currency }}</div>
    </ion-card-content>
  </ion-card>
  <ion-button color="secondary" expand="block" fill="outline">
    WEBSEITE BESUCHEN
  </ion-button>
  <ion-button color="tertiary" expand="block" fill="outline">
    VON WUNSCHLISTE LÖSCHEN
  </ion-button>
</ion-content>
