ion-card {
    img {
        width: 50%;
        margin: auto;
    }
    background-color: white;
    ion-card-content {
        border-top: 1px dashed #F0EDE3;
    }
}

ion-button {
    font-family: 'Roboto';
    font-size: 10pt;
    font-weight: bold;
}

.wantic-save-button {
    margin-bottom: 10pt;
    margin-right: 16pt;
    margin-left: 16pt;
}