ion-card {
    img {
        width: 50%;
        margin: auto;
    }
    background-color: white;
}

.friends-images {
    display: inline-block;
    width: 100%;
    text-align: center;
    img {
        width: 20pt;
        border-radius: 50%;
    }
}

ion-button {
    font-family: 'Roboto';
    font-size: 10pt;
    font-weight: bold;
}