<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center registration" *ngIf="!passwordChanged"><strong>Neues Passwort <br> festlegen</strong></h1>
  <h1 class="ion-text-center registration" *ngIf="passwordChanged"><strong>Passwort <br> geändert</strong></h1>
  <p class="subtext ion-text-center" *ngIf="!passwordChanged">
    Bitte gib nun im letzten Schritt dein neues Passwort an.
  </p>
  <p class="subtext ion-text-center" *ngIf="passwordChanged">
    Dein Passwort wurde erfolgreich geändert. 
    Du kannst dich nun damit einloggen.
  </p>

  <form [formGroup]="form" *ngIf="form && !passwordChanged">
    <app-show-hide-password>
      <ion-input formControlName="value" type="password" placeholder="Passwort"></ion-input>
    </app-show-hide-password>
    <app-validation-messages [control]="form.get('value')" [validationMessages]="validationMessages.password"></app-validation-messages>
    <ion-item lines="none">
      <ion-input formControlName="confirm" type="password" placeholder="Passwort wiederholen"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('confirm')" [validationMessages]="validationMessages.passwordConfirm"></app-validation-messages>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button *ngIf="form && !passwordChanged" class="wantic-save-button" expand="block" (click)="changePassword()" [disabled]="!form.valid">
    Passwort ändern
  </ion-button>
  <ion-button *ngIf="canShowBackToLoginButton && passwordChanged" class="wantic-save-button" expand="block" (click)="navBackToLogin()">
    Zurück zum Login
  </ion-button>
</ion-footer>