<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar logo="assets/icon/wantic-logo-purple.svg" defaultHref="secure/product-lists/product-list-overview"></app-nav-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header">Neue Liste hinzufügen</h1>

  <form [formGroup]="form">
    <div class="wtc-label-container">
      <label class="wtc-label-stacked">Name der Liste</label>
    </div>
    <ion-item lines="none">
      <ion-input type="text" placeholder="z.B. Geburtstag" formControlName="name" clearInput="true" autocapitalize="true" enterkeyhint="next" inputmode="text" required="true" spellcheck="true" legacy="true" class="form-field-creator"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('name')" [validationMessages]="validationMessages.name"></app-validation-messages>

    <div class="primary-purple-gradient">
      <ion-button (click)="create()" expand="block" color="primary-purple" class="wantic-margin-right-left wantic-save-button no-margin-bottom button-save-changes">
        Liste anlegen
      </ion-button>
    </div>
    <ion-button class="wantic-save-button" (click)="goBack()" color="primary" fill="outline" expand="block" color="primary-purple">
      ABBRECHEN
    </ion-button>

  </form>

</ion-content>
