<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios">
      Wunsch hinzufügen
    </ion-title>
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="slidePrev();" size="small">
        <ion-icon slot="icon-only" src="assets/icon/arrow-left.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center" slots="fixed" scrollY="false">
  <swiper-container #swiper pager="true" (slidenexttransitionend)="onSlideNextEnd()" (slideprevtransitionend)="onSlidePrevEnd()" (reachbeginning)="onSlideReachStart()" (reachend)="onSlideReachEnd()">
    <swiper-slide *ngFor="let item of slidesItems"> 
      <p class="ion-text-center" [innerHTML]="item.description"></p>
      <div class="center-container">
        <div class="center">
          <img [src]="item.imgSrc" [alt]="item.imgAlt" />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button *ngIf="!showCompleteButton" class="wantic-save-button" color="primary" expand="block" (click)="slideNext();">
    WEITER
  </ion-button>
  <ion-button  *ngIf="showCompleteButton" class="wantic-save-button" color="primary" expand="block" (click)="completeOnboarding()">
    Verstanden
  </ion-button>
</ion-footer>