#button-add-wish {
    background-color: white;
    color: var(--ion-color-dark);
    ion-icon {
        color: var(--ion-color-primary);
    }
}

.column-wishes {
    background-color: white;
}

.img-avatar {
    border-radius: 50%;
    width: 30pt;
}
