<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>
<app-email-unverified-hint [(subText)]="subText"></app-email-unverified-hint>

<ion-content>
 <ion-item lines="none">
     <!---->
       <!--0-->
       <ion-avatar class="creator-image standalone" *ngIf="!wishList.ownerProfileImageUrls || !wishList.ownerProfileImageUrls.length">
        <img  src="assets/images/avatar-placeholder.jpg">
      </ion-avatar>

      <!--1-->
      <ion-avatar class="creator-image standalone" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 1">
        <img *ngIf="wishList.ownerProfileImageUrls[0]" [src]="wishList.ownerProfileImageUrls[0] | cacheImage | async">
      </ion-avatar>

      <!--2-->
      <ion-avatar class="creator-image first" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[0]" [src]="wishList.ownerProfileImageUrls[0] | cacheImage | async">
      </ion-avatar>
      <ion-avatar class="creator-image last" *ngIf="wishList.ownerProfileImageUrls && wishList.ownerProfileImageUrls.length == 2">
        <img *ngIf="wishList.ownerProfileImageUrls[1]" [src]="wishList.ownerProfileImageUrls[1] | cacheImage | async">
      </ion-avatar>
      <!---->
      <ion-label class="ion-text-wrap">
        <h1>{{ wishList.name }}</h1>
        <p>{{ wishList.date | date }}</p>
      </ion-label>
      <ion-button fill="clear" [routerLink]="['../wish-list-edit']">
        <ion-icon slot="icon-only" src="assets/icon/pencil.svg" [routerLink]="['/wish-list-edit']"></ion-icon>
      </ion-button>
  </ion-item>

  <div class="friends-images" *ngIf="wishList.members">
    <ion-avatar *ngFor="let member of wishList.members">
      <img [src]="member.profileImageUrl ? (member.profileImageUrl | cacheImage | async) : 'assets/images/avatar-placeholder.jpg'">
    </ion-avatar>
    <ion-avatar [routerLink]="['../wish-list-guests']"> 
      <img src="assets/icon/icon-add-guests.svg"/>
    </ion-avatar>
  </div>

  <ion-button [routerLink]="['/secure/wish-search']" id="button-add-wish" fill="clear" expand="full">
    <ion-icon slot="start" name="add"></ion-icon>
    Wunsch hinzufügen
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col (click)="selectWish(wish)" size="6" *ngFor="let wish of wishList.wishes">
        <app-wish [wish]="wish"></app-wish>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
