#button-add-wish {
    background-color: white;
    color: var(--ion-color-dark);
    ion-icon {
        color: var(--ion-color-primary);
    }
    margin-right: 10px;
    margin-left: 10px;
}

.img-avatar {
    border-radius: 50%;
    width: 30pt;
}
