<ion-header no-border>
  <ion-toolbar class="wantic-toolbar">
    <ion-buttons slot="start">
      <ion-button size="large" class="wantic-logo" [routerLink]="['/home']">
        <img src="assets/icon/wantic-logo.svg">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/icon/friends-wish-lists-active.svg">
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" src="assets/icon/search-icon.svg"></ion-icon>
      </ion-button>
      <ion-menu-button>
        <img src="assets/icon/burger-menu.svg">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
     <ion-button fill="clear" style="margin-right: 5px;" (click)="goBack()">
       <ion-icon slot="icon-only" src="assets/icon/back_button.svg"></ion-icon>
     </ion-button>
     <!---->
       <!--0-->
      <ion-avatar class="creator-image standalone" *ngIf="!ownerProfileImageUrls">
        <img  src="assets/images/avatar-placeholder.jpg">
      </ion-avatar>

      <!--1-->
      <ion-avatar class="creator-image standalone" *ngIf="ownerProfileImageUrls && ownerProfileImageUrls.length == 1">
        <img *ngIf="ownerProfileImageUrls[0]" [src]="ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>

      <!--2-->
      <ion-avatar class="creator-image first" *ngIf="ownerProfileImageUrls && ownerProfileImageUrls.length == 2">
        <img *ngIf="ownerProfileImageUrls[0]" [src]="ownerProfileImageUrls[0] | secure | async">
      </ion-avatar>
      <ion-avatar class="creator-image last" *ngIf="ownerProfileImageUrls && ownerProfileImageUrls.length == 2">
        <img *ngIf="ownerProfileImageUrls[1]" [src]="ownerProfileImageUrls[1] | secure | async">
      </ion-avatar>
      <!---->
       <ion-label class="ion-text-wrap">
         <h1>{{ wishList.owners | ownerNames }} <small>{{ wishList.name }}</small></h1>
         <p>{{ wishList.date | date }}</p>
       </ion-label>
   </ion-item>
 
   <div class="friends-images" *ngIf="wishList.memberProfieImageUrls && wishList.memberProfieImageUrls.length">
     <ion-avatar *ngFor="let imageUrl of wishList.memberProfieImageUrls">
      <img *ngIf="imageUrl" [src]="imageUrl | secure | async">
     </ion-avatar>
   </div>
 
   <ion-grid>
     <ion-row>
       <ion-col size="6" *ngFor="let wish of wishList.wishes">
         <app-friends-wish [wish]="wish" (onWishPurchased)="updateWish($event)"></app-friends-wish>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>
