.column-wishes {
    background-color: white;
}

.img-avatar {
    border-radius: 50%;
    width: 30pt;
}

.friends-images {
    display: inline-block;
    width: 100%;
    text-align: center;
    img {
        width: 20pt;
        border-radius: 50%;
    }
}

.creator-image {
    margin-right: 11px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 50px;
}