<ion-card *ngIf="wish" class="wish-border" [ngClass]="{ 'wish-bought-border': isCancellable }">
  <app-wish-shop-info [wish]="wish">
    <div class="image-container" (click)="openProductURL()" [ngClass]="cssClassWishReservedState">
      <app-wish-image [src]="wish.imageUrl" [alt]="wish.name"></app-wish-image>
    </div>
  </app-wish-shop-info>
  <ion-card-content>
    <div class="wish-name truncate-name" [ngClass]="cssClassWishReservedState">{{ wish.name  }}</div>
    <div class="wish-note shared-wish-note" *ngIf="wish?.note">{{ wish.note }}</div>
    <div *ngIf="!readonly">
      <ion-grid>
        <ion-row *ngIf="isStateChangeable || isLoading" class="row-multiple-buttons">
          <ion-col sizeMd="6" class="col-left">
            <ion-button class="give-button action-button action-button-left" *ngIf="isReservable" fill="outline" color="tertiary" expand="block" name="action-reserve-wish"
              (click)="reserve()">
              SCHENKEN
            </ion-button>
            <ion-button class="give-button action-button action-button-left" *ngIf="isCancellable" color="tertiary" expand="block" name="action-cancel-wish-reservation"
              (click)="cancelReservation()">
              NICHT <br> MEHR SCHENKEN
            </ion-button>
            <ion-button class="give-button action-button action-button-left" *ngIf="isLoading" fill="outline" color="light" expand="block" disabled="true">
              LÄDT
            </ion-button>
          </ion-col>
          <ion-col sizeMd="6" class="col-right">
            <ion-button class="give-button action-button action-button-right"  fill="outline" color="primary" expand="block" name="action-open-product-url"
              (click)="openProductURL()">
              ZUM SHOP
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isStateChangeable && !isLoading">
          <ion-col  class="col-block">
            <ion-button class="give-button action-button action-button-block" fill="outline" color="tertiary" expand="block" name="action-open-product-url" (click)="openProductURL()">
              ZUM SHOP
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="isDebugInfoVisible">
          <ion-col class="col-block">
            <ion-button class="give-button action-button action-button-block" expand="block" color="dark" (click)="showDebugInfo()">
              <ion-icon name="construct-outline"></ion-icon>&nbsp;DEBUG INFO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="!isStateChangeable && !isLoading" class="wish-reserved-image-container" (click)="openProductURL()">
  <img src="assets/icon/wish-reserved.svg" alt="Graue, ovale Form auf dem 'Leider schon vergriffen' zu lesen ist."/>
</div>