<ion-card [ngClass]="{ 'wish-reserved': wish.reservedByFriend, 'wish-bought': wish.bought }" class="wish-border">
  <div class="image-container" (click)="openProductURL()">
    <img *ngIf="wish.imageUrl" [src]="wish.imageUrl" />
    <img *ngIf="!wish.imageUrl" src="assets/images/wish-list-placeholder.svg">
  </div>
  <ion-card-content>
    <div class="wish-name">{{ wish.name | truncateName  }}</div>
    <div class="wish-price">{{ wish.price.displayString }}</div>
    <div *ngIf="!readonly">
      <ion-button class="give-button" *ngIf="!wish.bought && !wish.reservedByFriend" expand="block" fill="outline"
      color="tertiary" (click)="reserve()">
      SCHENKEN
    </ion-button>
    <ion-button class="give-button" *ngIf="wish.bought && !wish.reservedByFriend" expand="block" color="tertiary"
      (click)="reserve()">
      NICHT <br> MEHR SCHENKEN
    </ion-button>
    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="wish.reservedByFriend" class="wish-reserved-image-container">
  <img src="assets/icon/wish-reserved.png" />
</div>