<div class="wtc-label-container" *ngIf="label">
  <label class="wtc-label-stacked">{{ label }}</label>
</div>
<ion-item lines="none" >
  <ion-input [placeholder]="placeholder" readonly="true" [value]="formattedDate" (click)="openModal()"></ion-input>
  <ion-icon class="clear-input-icon" slot="end" src="assets/icon/clear-input-icon.svg" (click)="clearInput()" *ngIf="selectedDate"></ion-icon>
  <ion-icon slot="end" icon="calendar" color="secondary" (click)="openModal()"></ion-icon>
</ion-item>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <ion-datetime
        #modalDatetime
        presentation="date"
        size="cover"
        locale="de-DE"
        [min]="minDate"
        [max]="maxDate"
        [disabled]="disabled"
        [(ngModel)]="value">
        <ion-buttons slot="buttons">
          <ion-button color="secondary" (click)="closeModal()">Abbrechen</ion-button>
          <ion-button color="primary" (click)="confirmValue()">Übernehmen</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>