<div class="wtc-label-container" *ngIf="label">
  <label class="wtc-label-stacked">{{ label }}</label>
</div>
<ion-item lines="none" [ngStyle]="containerStyle">
  <ion-input [placeholder]="placeholder" readonly="true" [value]="formattedDate" (click)="openModal()" [ngClass]="inputClass" legacy="true"></ion-input>
  <ion-icon class="clear-input-icon" slot="end" src="assets/icon/clear-input-icon.svg" (click)="clearInput()" *ngIf="selectedDate"></ion-icon>
  <ion-icon slot="end" icon="calendar" [ngClass]="iconColor" (click)="openModal()"></ion-icon>
</ion-item>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <ion-datetime
        #modalDatetime
        presentation="date"
        [color]="modalColor"
        size="cover"
        locale="de-DE"
        [min]="minDate"
        [max]="maxDate"
        [disabled]="disabled"
        [(ngModel)]="value">
        <ion-buttons slot="buttons">
          <ion-button [color]="modalColor" (click)="closeModal()">Abbrechen</ion-button>
          <ion-button [color]="modalColor" (click)="confirmValue()">Übernehmen</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>