.product-list-container {
    background: white;
    border-bottom: 2px solid #f7f6f1;
    border-top: 2px solid #f7f6f1;
    border-radius: 10pt;
  }

  ion-col {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }