<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar defaultHref="/secure/menu"></app-nav-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Creator Profil erstellen</h1>

  <div class="wantic-margin-right-left margin-top-44">

    <p>
      Mit einem Creator Profil kannst du Listen anlegen und diese <strong><ion-text color="primary-purple">mit deiner Community teilen</ion-text></strong>. 
    </p>

    <p>
      Auf den Listen kannst du deine Lieblingsprodukte aus allen Onlineshops speichern.  
    </p>

    <p>
      Solltest du mit dem Onlineshop eine bestehende Affiliate Beziehung haben, kannst du auch deine <strong><ion-text color="primary-purple">Affilate Links</ion-text></strong>  
      hinterlegen und über direkte Käufe deiner Community <strong><ion-text color="primary-purple">Provisionen erhalten</ion-text></strong>.
    </p>

  </div>

  <div class="primary-purple-gradient margin-top-44">
    <ion-button class="wantic-save-button" color="primary-purple" expand="block" [routerLink]="['../create-creator-account']">
      PROFIL ERSTELLEN
    </ion-button>
  </div>

</ion-content>
