<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar defaultHref="/secure/menu"></app-nav-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Creator Profil erstellen</h1>

  <p class="wantic-margin-right-left">
    Mit einem Creator Profil kannst du Listen anlegen und diese mit deiner Community
    teilen. Auf den Listen kannst du deine Lieblingsprodukte aus allen Onlineshops speichern.
    Solltest du mit dem Onlineshop eine bestehende Affiliate Beziehung haben, kannst du 
    auch deine Affiliate Links hinterlegen und über direkt Käufe deiner Community 
    Provisionen erhalten.
  </p>

  <ion-button class="wantic-save-button" color="primary" expand="block" [routerLink]="['../create-creator-account']">
    JETZT PROFIL ERSTELLEN
  </ion-button>

</ion-content>
