<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
</ion-header>

<ion-content>
  <h1 class="registration ion-text-center">Lege deine erste Wunschliste an</h1>
  <form [formGroup]="form" *ngIf="form">
    <ion-item lines="none">
      <ion-input formControlName="name" type="text" placeholder="Trage einen Namen ein"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('name')" [validationMessages]="validationMessages.name"></app-validation-messages>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button *ngIf="form" class="wantic-save-button" expand="block" (click)="next()" [disabled]="!form.valid">Weiter</ion-button>
</ion-footer>