h1 {
    color: var(--ion-color-tertiary);
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 38px;
}

.header {
    text-align: center;
    position: relative;
    padding-top: 16px;
    .back-button {
        position: absolute;
        left: 0;
        margin-top: 0;
    }
}

.circle {
    border-radius: 50%;
    width: 430px;
    height: 330pt;
    background: var(--ion-color-secondary);
    position: relative;
    right: 25px;
    .form {
        margin: auto;
        position: relative;
        top: 25%;
        ion-item {
            background: var(--ion-color-secondary);
            padding-right: 50px;
            padding-left: 50px;
            ion-input {
                border: none;
            }
        }
    }
}