ion-col {
  padding: 0; 
  margin-bottom: 12px;
}

.no-shared-wish-lists-text {
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  padding-top: 14px;
  margin-right: 45px;
  margin-left: 45px;
}

.app-friend-wish-list-container {
  margin-top: 15px;
}

.wish-list-box {
  background: white;
  border-bottom: 2px solid #f7f6f1;
  border-top: 2px solid #f7f6f1;
  border-radius: 10pt;
}

.wish-list-wrapper-padding-left {
  padding-left: 5px;
}

.wish-list-wrapper-padding-right {
  padding-right: 5px;
}