<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
  
  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Meine Familie & Freunde</h1>
  </ion-text>
  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col *ngFor="let wishList of wishLists" size="6" (click)="selectWishList(wishList)">
        <app-friend-wish-list [wishList]="wishList"></app-friend-wish-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
