<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Meine Familie & meine Freunde</h1>
  </ion-text>
  <p *ngIf="!wishLists.length" class="wantic-margin-right-left no-shared-wish-lists-text">
    Hier erscheinen die Wunschlisten deiner Familie oder deiner Freunde, sobald sie sie mit dir geteilt haben.
    <br><br>
    Deine Liebsten kennen unsere App noch nicht? Erzähle ihnen von uns.
  </p>
  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col *ngFor="let wishList of wishLists; let i = index;" size="6" (click)="selectWishList(wishList)" class="app-friend-wish-list-container">
        <div class="wish-list-wrapper-padding-right" [ngClass]="{ 'wish-list-wrapper-padding-right': i % 2 === 0 , 'wish-list-wrapper-padding-left': i % 2 === 1}">
          <div class="wish-list-box">
            <app-friend-wish-list [wishList]="wishList"></app-friend-wish-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
