ion-col {
  border: 2px solid #f7f6f1; 
  border-radius: 10pt;
  padding: 0; 
  background: white;
  margin-bottom: 12px;
}

.no-shared-wish-lists-text {
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  padding-top: 14px;
  margin-right: 45px;
  margin-left: 45px;
}