<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/icon/wantic-logo.svg" alt="Wantic Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<app-hint *ngIf="showHint" [config]="hintConfig"></app-hint>

<ion-content>

  <h1 class="ion-text-center wantic-page-header">Profil bearbeiten</h1>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveChanges()">

    <ion-item lines="none">
      <ion-label position="stacked">Nachname</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('lastName')" [validationMessages]="validationMessages.lastName"></app-validation-messages>

    <ion-button type="submit" *ngIf="form" class="wantic-save-button" color="primary" expand="block" [disabled]="!form.valid">
      ÄNDERUNGEN SPEICHERN
    </ion-button>
  </form>

</ion-content>
