<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar logoColor="orange" [defaultHref]="defaultHref"></app-nav-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="errorMessage" class="ion-text-center wantic-info-box">
    {{ errorMessage }}
  </p>
  <app-creator [account]="account" [(isLoading)]="isLoading"></app-creator>

  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col [ngClass]="getClass(i)" class="product-list" size="6" size-lg="2" *ngFor="let list of productLists; let i = index;">
        <app-list [list]="list" [index]="i" (listSelected)="selectProductList(list)" shareBtnColor="orange"></app-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
