.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 18pt;
  color: var(--ion-color-tertiary);
}

.add-button-padding {
  padding-top: 5%;
}

.add-icon {
  height: 30pt;
  width: 30pt;
  color: var(--ion-color-primary);
}

ion-col.wish-list {
  background-color: white;
  border: 2px solid #f7f6f1; 
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  margin-bottom: 12px;
}

ion-col.wish-list-right {
  padding-left: 0;
}

ion-col.wish-list-left {
  padding-right: 0;
}

.button-container {
  padding: 0;
  margin-bottom: 12px;
}
.add-wish-button, .add-wish-list-button {
  background-color: white; 
  border: 2px solid #f7f6f1;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  padding: 0; 
  height: 119px;
}
.add-wish-list-button {
  padding-top: 5px; 
  
}
.add-wish-button {
  padding-bottom: 5px;
}