<ion-header no-border>
  <ion-toolbar class="wantic-toolbar">
    <ion-buttons slot="start">
      <ion-button size="large" class="wantic-logo" [routerLink]="['/home']">
        <img src="assets/icon/wantic-logo-active.svg" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/friends-wish-list-overview']">
        <img src="assets/icon/friends-wish-lists.svg" />
      </ion-button>
      <ion-button [routerLink]="['/wish-search']">
        <ion-icon slot="icon-only" src="assets/icon/search-icon.svg"></ion-icon>
      </ion-button>
      <ion-menu-button>
        <img src="assets/icon/burger-menu.svg" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-email-unverified-hint [(subText)]="subText"></app-email-unverified-hint>

<ion-content>
  <ion-text>
    <h1 class="ion-text-center">Meine Wunschlisten</h1>
  </ion-text>
  <ion-grid class="wantic-container">
    <ion-row>
      <ion-col size="6" size-lg="2" class="button-container">
        <ion-grid style="margin-right: 6px; padding: 0">
          <ion-row>
            <ion-col class="add-wish-button" [routerLink]="['/wish-search']" size="12">
              <div class="ion-text-center">
                <div class="add-button-padding">
                  <div>
                    <ion-icon class="add-icon" name="add"></ion-icon>
                  </div>
                  <div>
                      Wunsch <br>
                      hinzufügen
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col class="add-wish-list-button" [routerLink]="['/wish-list-new']" size="12" >
              <div class="ion-text-center">
                <div class="add-button-padding">
                  <div>
                    <ion-icon class="add-icon" name="add"></ion-icon>
                  </div>
                  <div>
                      Wunschliste <br>
                      hinzufügen
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col  [ngClass]="{ 'wish-list-right': i % 2 == 0 , 'wish-list-left': i % 2 == 1 }" 
                class="wish-list" size="6" size-lg="2"
                *ngFor="let wishList of wishLists; let i = index;" 
                (click)="selectWishList(wishList)">
        <app-wish-list [wishList]="wishList" [index]="i"></app-wish-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
