<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header">{{ title }}</h1>

  <form [formGroup]="form" *ngIf="form">
    <ion-item lines="none">
      <ion-label position="stacked">Name der Wunschliste</ion-label>
      <ion-input type="text" placeholder="z.B. Geburtstag" formControlName="name" clearInput="true"></ion-input>
    </ion-item>
    <app-validation-messages [control]="form.get('name')" [validationMessages]="validationMessages.name"></app-validation-messages>

    <ion-item lines="none">
      <ion-label position="stacked">Datum des Ereignisses</ion-label>
      <ion-datetime [min]="minDate" [max]="maxDate" formControlName="date" displayFormat="DD.MM.YYYY" placeholder="Trage ein Datum ein"></ion-datetime>
    </ion-item>
    <app-validation-messages [control]="form.get('date')" [validationMessages]="validationMessages.date"></app-validation-messages>

    <ion-button *ngIf="form" (click)="createOrUpdateWishList()" expand="block" [disabled]="!form.valid" class="wantic-margin-right-left wantic-save-button no-margin-bottom">
      {{ buttonTitle }}
    </ion-button>
    <ion-button *ngIf="isUpdatePage && isCreator" class="wantic-save-button" (click)="deleteWishList()" color="tertiary" fill="outline" expand="block">
      WUNSCHLISTE LÖSCHEN
    </ion-button>

  </form>

</ion-content>
