#wish-list-new-header {
    margin-top: 25px;
    margin-bottom: 16px;
    h1 {
        margin-top: 6px;
    }    
}

.form-group-label {
    margin-left: var(--wantic-margin);
    margin-right: var(--wantic-margin);
    margin-bottom: 9px;
    font-size: 15px;
}

ion-footer > ion-button {
    margin-bottom: 9pt;
}

.no-margin-bottom {
    margin-bottom: 10px;
}

.partner-infos {
    margin-bottom: 18px;
    .info-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .partner-image, .partner-initals {
            display: inline-block;
        }
        .partner-name {
            margin-left: 12px;
        }
    }
}

.button-save-changes {
    margin-top: 42px;
}

.toggleContainer {
    font-size: 12px;
    ion-label {
        text-align: left;
    }
}