ion-grid.wantic-toolbar {
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(to bottom, white, white 60%, transparent 60%, transparent 100%);
    ion-row {
        ion-col.wantic-back-button-container {
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
            button.wantic-back-button {
                padding: 0 0 0 20.5px;
                background: transparent;
                height: 60%;
            }
        }
        ion-col.wantic-logo-container {
            text-align: center;
        }
        ion-col.wantic-skip-button-container {
            text-align: right;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            button.wantic-skip-button {
                padding: 0 20.5px 0 0;
                background: transparent;
                height: 60%;
            }
        }
    }
}

ion-back-button::part(icon) {
    height: inherit;
    width: inherit;
}

ion-back-button::part(native) {
    height: inherit;
    width: inherit;
}