.search-result {
    background-color: white;
}

ion-item {
    --padding-start: 55px;
    --padding-end: 55px;
}

.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none !important;
}

.wantic-save-button {
    margin-right: 16pt;
    margin-left: 16pt;
}