<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-infinite-scroll (ionInfinite)="loadMoreSearchResults($event)" threshold="25%">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Weitere Suchergebnisse werden geladen ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>