img {
    max-width: 180px;
}

ol {
    padding-left: 20px;
    li {
        padding-bottom: 10px;
    }
}

p, ol {
    font-size: 15px;
    line-height: 20px;
}

p.info-text {
    margin-top: 0;
}

img.appstore-icon {
    width: 17px;
    height: 17px;
}