<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Wunsch hinzufügen</h1>
  </ion-text>

  <p class="wantic-margin-right-left">
    Gib deinen Wunsch in dieses Suchfeld ein ODER ...
  </p>

  <form [formGroup]="searchByAmazonApiForm" (ngSubmit)="searchByAmazonApi()">
    <ion-item lines="none">
      <ion-input type="text" enterkeyhint="search" placeholder="z.B. Holzspielzeug" formControlName="keywords" autocapitalize="on" clearInput="true" inputmode="search"></ion-input>
    </ion-item>
    <app-validation-messages [control]="searchByAmazonApiForm.get('keywords')" [validationMessages]="validationMessages.keywords"></app-validation-messages>
  </form>

 <p class="wantic-margin-right-left">
   ... springe in deinen Browser und 
   füge Wünsche aus deinem liebsten 
   Onlineshop über dieses Icon 
   <ion-icon *ngIf="platformService.isIOS" class="share-icon" name="share-outline"></ion-icon> 
   <ion-icon *ngIf="platformService.isAndroid" color="primary" name="share-social-outline"></ion-icon>
   hinzu.
 </p>

 <div class="wantic-margin-right-left ion-text-center">
   <img *ngIf="platformService.isIOS" src="assets/images/onboarding-slide-2.png" alt="Erklärungsbild" />
   <img *ngIf="platformService.isAndroid" src="assets/images/onboarding-slide-android-2.png" alt="Erklärungsbild" />
 </div>

 <p class="wantic-margin-right-left info-text" *ngIf="showShareIntentNotVisibleHint">
  <strong>Info:</strong> Solltest du unser App-Icon <img class="appstore-icon" src="assets/icon/appstore-icon.png" /> <br>
  nicht sehen, liegt dies an einem bekannten temporären iOS Problem.<br><br>
  
  Diese zwei Dinge kannst du probieren:
 </p>

 <ol class="wantic-margin-right-left" *ngIf="showShareIntentNotVisibleHint">
  <li>
    Drücke erneut auf das Share-Icon <ion-icon class="share-icon" name="share-outline"></ion-icon> in Safari, oft taucht unser App-Icon beim Zweiten Anlauf auf.
  </li>
  <li>
    Starte dein iPhone neu.
  </li>
</ol>

</ion-content>
