<ion-header class="ion-no-border safe-area-inset-top">
  <app-nav-toolbar></app-nav-toolbar>
  <app-email-unverified-hint></app-email-unverified-hint>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="wantic-page-header ion-text-center">Wunsch hinzufügen</h1>
  </ion-text>

  <form [formGroup]="searchByAmazonApiForm" (ngSubmit)="searchByAmazonApi()">
    <ion-item lines="none">
      <ion-label position="stacked">Was wünschst du dir?</ion-label>
      <ion-input type="text" enterkeyhint="search" placeholder="z.B. Fjällräven Kånken" [formControl]="keywords" autocapitalize="on" autofocus="true" clearInput="true" inputmode="search"></ion-input>
    </ion-item>
  </form>

  <!--
  <form *ngIf="platform.is('capacitor')" [formGroup]="searchByUrlForm" (ngSubmit)="searchByUrl()">
    <ion-item lines="none">
      <ion-label position="stacked">URL deines Wunsches einfügen</ion-label>
      <ion-input type="url" inputmode="url" enterkeyhint="search" placeholder="z.B. www.zalando.de/fjällrävenkå" [formControl]="url"></ion-input>
    </ion-item>
  </form>--->

</ion-content>
