<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="wantic-title">wantic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center wantic-page-header">Einstellungen</h1>

  <ion-list>

    <ion-list-header>
      Profil
    </ion-list-header>

    <ion-item [routerLink]="['profile-image-update']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        <h2>Profilbild</h2>
        <ion-avatar class="creator-image">
          <img *ngIf="profile?.profileImageUrl" [src]="profile.profileImageUrl | cacheImage | async" alt="profile image"/>
          <img *ngIf="!profile?.profileImageUrl" src="assets/images/avatar-placeholder.jpg" alt="placeholder image"/>
        </ion-avatar>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['profile-settings-firstname']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        <h2>Vorname</h2>
        <h3>{{ profile.firstName }}</h3>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['last-name-update']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        <h2>Nachname</h2>
        <h3 *ngIf="profile.lastName">{{ profile.lastName }}</h3>
        <h3 *ngIf="!profile.lastName"><i>noch nicht eingetragen</i></h3>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['birthday-update']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        <h2>Geburtsdatum</h2>
        <h3 *ngIf="profile.birthday">{{ profile.birthday | date:'dd.MM.yyyy' }}</h3>
        <h3 *ngIf="!profile.birthday"><i>noch nicht eingetragen</i></h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      Login
    </ion-list-header>

    <ion-item [routerLink]="['email-update']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        <h2>Email</h2>
        <h3>{{ profile.email }}</h3>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['password-update']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        Passwort ändern
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Account
    </ion-list-header>
    <ion-item [routerLink]="['account-delete']">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      <ion-label>
        Account löschen
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
